html {
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

html * {
    max-height: 1000000px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


a[href^="http"]:empty::before {
    content: attr(href);
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

a,
label,
button,
input,
select,
textarea {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
    outline: none
}

a,
button {
    cursor: pointer
}


.btn_default {
    appearance: none;
    border-radius: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: 0.25s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


@font-face {
    font-family: "Rotondac";
    src: url("../fonts/rotondac.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rotondac";
    src: url("../fonts/rotondac-bold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/helveticaneuecyr-light.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/HelveticaNeueCyr-Thin.ttf");
    font-weight: 200;
    font-style: normal;
}

body {
    font-size: 16px;
    line-height: 1.4;
    color: #757578;
    font-family: Rotondac;
    padding-top: 115px;
    background: #E5E5E5;
    background: url(../images/bg/bg_body.jpg);
    background-size: 867px auto;
    background-position: 0 0;
}

a {
    transition: 0.25s
}

a:hover {
    color: #da291c;
}




.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
}



/* footer decore */



.main__footer {
    position: relative;
    background: #fff;
    padding-top: 15px;
    margin-top: 0px;
    padding-bottom: 65px;
}

.main__footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__logo {
    display: block;
    margin-bottom: 10px;
}

.footer__mail {
    font-size: 18px;
    color: #757578;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__mail span {
    border-bottom: 1px dashed;
    margin-right: 9px;
}

.footer__mail img {
    height: 16px;
    margin-top: -1px;
    width: auto;
}

.footer__mail:hover span {
    border-color: transparent
}

.footer__top {
    width: 175px;
    margin-right: 35px;
    text-align: center;
}

.footer__info {
    width: calc(100% - 210px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__mail:hover {
    color: #bbb;
}

.footer__social__list a {
    text-decoration: none;
    display: inline-flex;
}

.footer__social__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 195px;
}

.footer__social__list a:hover img {
    filter: grayscale(1);
    opacity: 0.5;
}

.footer__social__list img {
    transition: 0.25s;
}

.footer__social__title {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

ul.footer__menu {
    margin-bottom: 38px;
    margin-top: 25px;
    list-style: none;
    display: flex;
    width: 100%;
}

ul.footer__menu li {
    margin-right: 60px;
}

ul.footer__menu li:last-child {
    margin-right: 0;
}

.footer__menu a {
    font-size: 17px;
    text-decoration: none;
    color: #757578;
}

.footer__info_description {
    width: calc(100% - 300px);
    max-width: 600px;
    font-size: 13px;
}


.footer__info_description p {
    margin-bottom: 18px;
}

.footer__info_description a {
    color: #db6173;
}

.footer__info_description a:hover {
    color: #757578;
    text-decoration: none;
}



.footer__info_description p:last-child {
    margin-bottom: 0;
}


.footer_decore {
    height: 100px;
    background-image: url(../images/bg/bg_footer.png);
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__logo img {
    max-width: 155px;
}

.footer__menu a:hover {
    color: #da291c;
}

.home_page__registration__title {
    font-size: 40px;
    line-height: 1.3;
    max-width: 750px;
    margin-bottom: 70px;
    font-family: Helvetica;
    font-weight: 200;
}

.home_page__registration__title span {
    color: #e22319;
}

.home_page__registration__form_social__list div {
    cursor: pointer;
    transition: 0.25s;
}

.home_page__registration__form_social__list div:hover {
    opacity: 0.75;
}

.home_page__registration__add_text {
    color: #828282;
    font-size: 17px;
    max-width: 620px;
    margin-top: 35px;
    line-height: 1.6;
}

section.home_page__registration {
    padding-bottom: 160px;
    background: url(../images/bg/bg_home_registration.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: auto 100%;
    margin-bottom: -70px;
}

.home_page__registration__form input {
    width: 100%;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 17px 25px;
    margin-bottom: 9px;
    line-height: 1;
}

.home_page__registration__form input::placeholder {
    line-height: normal;
    height: inherit;
    transform: translate(0, 3px);
}

.home_page__registration__form__title {
    font-size: 18px;
    color: #333333;
    margin-bottom: 15px;
    font-weight: bold;
}

.home_page__registration__form_social__list {
    display: flex;
    width: 260px;
    justify-content: space-between;
}

.home_page__registration__form input:focus {
    background: transparent;
}

.wrap__x {
    background: #fcf8ed;
    max-width: 1600px;
    margin: 0 auto;
    box-shadow: 0 20px 30px 0 #dadada;
}

.btn_def {
    border-radius: 0;
    appearance: none;
    border: none;
    background: transparent;
    box-shadow: none;
    color: inherit;
    text-decoration: none;
    transition: 0.25s;
}

.btn_red {
    background: #da291c;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 25px 12px;
    border-radius: 50px;
}

.btn_red:hover {
    background: #a51e14;
    color: #fff;
}

.home_page__registration__form .btn_home_registration {
    padding-bottom: 17px;
    padding-top: 19px;
    border: none;
    margin-bottom: 0;
    margin-top: 7px;
}

form.home_page__registration__form {
    max-width: 390px;
    margin-right: 50px;
}

.home_page__registration__wrap {
    display: flex;
    flex-wrap: wrap;
}

.home__earn_hug__item__count {
    font-size: 30px;
    color: #D76271;
    font-weight: bold;
}

.home__earn_hug__item__info {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 13px;
}

.home__earn_hug__wrap {
    padding: 45px 50px 60px;
    margin: 0 -65px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.138);
    border-radius: 7px;
    background: url(../images/bg/bg_home_earn.jpg);
    background-size: cover;
    background-position: 50%;
}

.home__earn_hug__item__wrap {
    text-align: center;
    margin: 0 auto;
    padding: 0px 37px;
}

.home__earn_hug__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.home__earn_hug__item__image:before {
    position: absolute;
    content: '';
    background: linear-gradient(80.37deg, #A8842F -8.17%, #E5CE8B 122.63%, #AC8936 256.19%);
    display: block;
    z-index: 0;
    left: -3px;
    right: -3px;
    top: -3px;
    bottom: -3px;
    border-radius: 50%;
}

.home__earn_hug__item__image img {
    border-radius: 50%;
    position: relative;
    z-index: 1;
    display: block;
}

.home__earn_hug__item__image {
    position: relative;
    margin-bottom: 25px;
}

.home__earn_hug__item__icon {
    width: 70px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin-bottom: -50px;
    font-size: 0;
}

.home__earn_hug__item {
    width: calc(100% / 4);
}

section.home__earn_hug {
    margin-bottom: 80px;
}

.home__earn_hug__title {
    color: #A8842F;
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: bold;
}

.home__earn_hug__list:before {
    background: url(../images/index/earn_hug/line.svg);
    content: '';
    display: block;
    position: absolute;
    top: 110px;
    width: 100%;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 53%;
}

.home__calendar__title {
    color: #d76270;
    font-size: 40px;
    margin-bottom: 7px;
    font-weight: bold;
}

.home__calendar__text {
    font-size: 25px;
    font-weight: 400;
    font-family: Helvetica;
}

.home__calendar__text span {
    color: #d76270;
}

.home__calendar__info {
    text-align: center;
    padding-left: 410px;
    padding-right: 60px;
    width: 100%;
}

section.home__calendar:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100px;
    background: linear-gradient(to bottom, #fcf8ec 0%, #fcf8ec00 100%);
    z-index: 0;
    width: 100%;
}

section.home__calendar {
    background: url(../images/index/calendar/1.png), url(../images/index/calendar/bg.jpg);
    background-repeat: no-repeat;
    background-position: calc(50% - 530px) 40px, 50% 100%;
    background-size: 500px, cover;
    padding: 140px 0 160px;
    margin: 40px 0;
    position: relative;
}

section.home__calendar:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    height: 100px;
    background: linear-gradient(to top, #fcf8ec 0%, #fcf8ec00 100%);
    z-index: 0;
    width: 100%;
}

a.home_page__prize_link {
    color: #A78524;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px dashed;
    padding-bottom: 7px;
    margin-top: 24px;
}

p.prize_block_text {
    margin-top: 30px;
    line-height: 1.5;
    max-width: 800px;
}

span.span_hug {
    color: #D76271;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 7px 15px 4px;
    border-radius: 19px;
    line-height: 1;
    border: 2px solid #bd9e4f;
    margin-left: 3px;
}

p.prize_block_text a {
    color: #c2a356;
}

p.prize_block_text a:hover {
    text-decoration: none;
    color: inherit;
}

.home_page__prize_title {
    color: #d76270;
    font-size: 40px;
    margin-bottom: 7px;
    font-weight: bold;
}

.home_page__prize_subtitle {
    font-size: 24px;
    font-family: Helvetica;
    margin-bottom: 22px;
}

.home_page__prize_wrap {
    background: radial-gradient(858.62px at 50% 50%, #fff 0%, #fff0 100%);
    padding: 35px 40px 50px;
    margin: 0 -65px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.138);
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url(../images/bg/bg_home_prize.jpg);
    background-size: cover;
    background-position: 100% 100%;
}

.home_page__prize_items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin-top: 40px;
}

a.home_page__prize_link:hover {
    color: inherit;
    border-color: transparent;
}

section.home_banner {
    padding-top: 65px;
    background: url(../images/bg/bg_home_banner.jpg);
    background-size: auto 100%;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    padding-bottom: 95px;
    position: relative;
    margin-bottom: 5px;
}

.home_banner__title {
    font-family: Helvetica;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 35px;
    font-weight: 200;
}

img.home_banner__logo {
    margin-bottom: 25px;
    max-width: 400px;
}

.home_banner__info {
    text-align: center;
    max-width: 480px;
    margin-bottom: 55px;
}

.home_banner__partners_title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

.home_banner__partners_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 380px;
    margin: 0 auto;
}

.home_banner__partners_list img {
    width: 38%;
}

img.home_trigger__image {
    margin: 0 auto 17px;
    display: block;
}

.home_trigger__info {
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
}

.home_trigger {
    text-align: center;
    position: relative;
    z-index: 5;
}

.home_triggers {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

img.home_page__prize_item__image {
    position: absolute;
    z-index: 5;
    right: 0;
    left: 0;
    bottom: -5px;
}

.home_page__prize_item {
    position: relative;
}

header.header_main {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.138);
    padding: 14px 0px;
    background: #fff;
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

a.logo_header {
    display: block;
    width: 130px;
}

header.header_main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mobile_menu {
    display: none;
    background: #fff;
    z-index: 100;
    top: 75px;
    position: fixed;
    width: 100%;
    left: 0;
    overflow: scroll;
    height: calc(100% - 75px);
    padding: 15px 0 30px;
}

nav.header__menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav.header__menu a {
    font-size: 20px;
    color: #515768;
    text-decoration: none;
}

nav.header__menu li {
    margin-right: 50px;
}

.btn_gold {
    background: linear-gradient(80.37deg, #A8842F -8.17%, #E5CE8B 122.63%, #AC8936 256.19%);
    border-radius: 50px;
    color: #fff;
    padding: 14px 30px 11px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn_gold:hover {
    color: #fff;
    background: #c39f37;
    background: linear-gradient(80.37deg, #ad8923 -8.17%, #ad8923 122.63%, #ad8923 256.19%);
}

.btn_mobile_menu {
    display: none;
}


.header_user_info__mobile {
    display: none;
}

header.header_main .container {
    max-width: 1600px;
}

a.btn_login_top {
    font-size: 18px;
    margin-right: 30px;
    border-bottom: 2px dashed;
    text-decoration: none;
    color: #757578;
    opacity: 0.6;
    padding-bottom: 3px;
}

a.btn_login_top:hover {
    border-color: transparent;
    color: #515768;
}

.btn_top_registration {
    width: 225px;
    padding: 11px 50px 10px;
}

nav.header__menu a:hover {
    color: #da291c;
}

nav.header__menu {
    width: calc(100% - 275px - 500px);
}

.header__user_info {
    width: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.home_page__prize_items:before {
    background: url(../images/index/prize/line.svg);
    content: '';
    display: block;
    position: absolute;
    top: 119px;
    width: 100%;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 54%;
}

.home_triggers:before {
    background: url(../images/index/prize/line.svg);
    content: '';
    display: block;
    position: absolute;
    top: 50px;
    width: 100%;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 54%;
}

nav.header__menu li:last-child {
    margin-right: 0;
}

a.mobile_login_avatar img {
    width: 20px;
}

.btn_mobile_menu span {
    position: absolute;
    height: 2px;
    background: #333640;
    right: 5px;
    border-radius: 100px;
    left: 5px;
    transition: 0.25s;
}

.btn_mobile_menu span:nth-child(1) {
    top: 19px;
}

.btn_mobile_menu span:nth-child(2) {
    top: 28px;
}

.btn_mobile_menu span:nth-child(3) {
    top: 27px;
    right: 12px;
}

.btn_mobile_menu.active span:nth-child(1) {
    transform: translate(0, 2px) rotate(45deg);
}

.btn_mobile_menu.active span:nth-child(2) {
    transform: translate(0, -8px) rotate(-45deg);
}



.mobile_menu_list a {
    font-size: 18px;
    color: #333640;
    text-decoration: none;
}

nav.mobile_menu_list ul {
    list-style: none;
}

.mobile_menu_wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.mobile_menu_list li {
    padding: 10px 0;
}

nav.mobile_menu_list {
    margin-bottom: 30px;
    width: 100%;
}



a.mobile_user_info_top_no_login_link {
    font-size: 18px;
    border-bottom: 2px dashed;
    text-decoration: none;
    color: #757578;
    opacity: 0.6;
    padding-bottom: 3px;
    margin-bottom: 20px;
}

.mobile_user_info_top_no_login {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.mobile_user_info_top_no_login_link:hover {
    border-color: transparent;
    color: inherit;
    opacity: 1;
}

.btn_registration_mobile {
    width: 280px;
}

.mobile_menu_list a:hover {
    color: #da291c;
}

.mobile_user_info {
    margin-bottom: 25px;
}

.mobile_menu_social {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile_menu_social a {
    text-decoration: none;
}

.mobile_menu_social a:hover {
    filter: grayscale(1);
    opacity: 0.5
}

.mobile_menu .container {
    padding: 0;
}

.header__user_login {
    display: flex;
    align-items: center;
}

a.header_user__block {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 30px;
}

.header_user__label {
    position: relative;
    color: #fff;
    text-decoration: none;
    margin-right: 17px;
}

.header_user__label--notification_count {
    position: absolute;
    z-index: 2;
    background: #D76271;
    line-height: 1;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: -7px;
    right: -3px;
    font-weight: bold;
    font-size: 11px;
    padding-top: 3px;
}

.header_user__block__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.15;
    color: #757578;
    margin-bottom: 2px;
    display: block;
}

a.header__user_login__exit {
    opacity: 0.5;
    border: 2px solid #757578;
    border-radius: 50px;
    text-decoration: none;
    color: #757578;
    font-size: 13px;
    padding: 12px 17px 9px;
    font-weight: bold;
}

a.header__user_login__exit:hover {
    background: #757578;
    color: #fff;
}

a.header_user__block:hover .header_user__block__name {
    opacity: 0.5;
}

.home_page__prize_subtitle span {
    color: #D76271;
    font-size: 23px;
    font-weight: bold;
    font-family: RotondaC;
    display: inline-block;
    padding: 8px 16px 6px;
    border-radius: 50px;
    line-height: 1;
    margin-left: 10px;
    position: relative;

}

.home_page__prize_subtitle span:after {
    position: absolute;
    content: '';
    background: #fefdf9;
    display: block;
    z-index: -1;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 50px;
    z-index: 1;
}

.home_page__prize_subtitle strong {
    position: relative;
    z-index: 2;
}

.home_page__prize_subtitle span:before {
    position: absolute;
    content: '';
    background: linear-gradient(80.37deg, #A8842F -8.17%, #E5CE8B 122.63%, #AC8936 256.19%);
    display: block;
    z-index: -1;
    left: -2px;
    right: -2px;
    top: -2px;
    bottom: -2px;
    border-radius: 50px;
    z-index: 0;
}


.faq_wrap {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.174);
    border-radius: 5px;
    padding: 40px 75px 30px;
}

.faq_wrap_title {
    font-size: 40px;
    font-family: Helvetica;
    font-weight: 100;
    margin-bottom: 0px;
    line-height: 1.2;
}

.faq_item_question {
    color: #333333;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.3;
}

.faq_item_head {
    display: flex;
    align-items: center;
    border-bottom: 2px dashed #ececec;
    padding: 45px 0px;
    transition-delay: 0.4s;
}

.faq_item_btn {
    background: #A78524;
    padding: 3px;
    line-height: 48px;
    text-align: center;
    font-size: 0;
    border-radius: 50%;
    margin-right: 35px;
    cursor: pointer;
    margin-top: -3px;
}

.faq_item_btn_inner {
    background: #fff;
    border-radius: 50%;
    line-height: 48px;
    width: 42px;
    height: 42px;
    position: relative;
}

.faq_item_info {
    background: #F8F5F5;
    margin-left: -75px;
    margin-right: -75px;
    padding: 45px 75px;
    font-size: 18px;
    line-height: 1.5;
    display: none;
    position: relative;
}

.faq_item_info>p {
    margin-bottom: 20px;
}

.faq_item_info a {
    color: #A78524;
    text-decoration: none;
}

.faq_item_info a:hover {
    color: #757575;
}

.faq_title {
    font-size: 50px;
    font-family: Helvetica;
    font-weight: 100;
    margin-bottom: 35px;
    max-width: 500px;
    line-height: 1.08;
}

.faq_title span {
    color: #E2231A;
}

.faq_item_info.faq_item_info_list {
    background: #fff;
    box-shadow: none;
    padding: 0 75px;
}

.faq_item_info_item_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
}

.faq_item_info_item_text {
    margin-bottom: 7px;
}

.faq_item_info_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dashed #ececec;
    padding: 35px 0;
}

.faq_item_info_item_image {
    max-width: 120px;
}

.faq_page {
    background: url(../images/bg/bg_home_banner.jpg);
    background-size: contain;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    margin-bottom: 70px;
}

.faq_page__text_wrap {
    background: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.174);
    border-radius: 5px;
    padding: 40px 75px 30px;
    line-height: 1.6;
}

.faq_top {
    padding: 150px 0 100px;
}

.faq_page__text_wrap h3 {
    color: #333;
    margin-bottom: 10px;
    margin-top: 30px;
}

.faq_page__text_wrap p {
    margin-bottom: 16px;
}

.faq_page__text_wrap a {
    color: #db6173
}

.faq_page__text_wrap a:hover {
    color: inherit;
    text-decoration: none
}

.faq_item_btn_inner:after,
.faq_item_btn_inner:before {
    top: calc(50% - 1px);
    left: 0;
    right: 0;
    margin: auto;
    width: 18px;
    height: 3px;
    border-radius: 5px;
    content: '';
    background: #A78524;
    display: block;
    position: absolute;
}

.faq_item_btn_inner:after {
    transform: rotate(90deg);
}

.faq_item_btn:hover {
    background: #cbcbcc;
}

.faq_item_btn:hover .faq_item_btn_inner:after,
.faq_item_btn:hover .faq_item_btn_inner:before {
    background: #cbcbcc;
}

.faq_item.active .faq_item_btn {
    background: #cbcbcc;
}

.faq_item.active .faq_item_btn_inner:after {
    width: 0;
}

.faq_item.active .faq_item_head {
    border-color: transparent;
    transition-delay: 0s;
}

.faq_item.active .faq_item_btn_inner:before {
    background: #cbcbcc;
}

.faq_item.active .faq_item_question {
    color: #A78524;
}

.faq_item_info:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    background: #f8f5f5;
    top: -16px;
    transform: rotate(45deg);
    left: 84px;
    opacity: 0;
    transition-delay: 0.4s;
}

.faq_item.active .faq_item_info:before {
    opacity: 1;
    transition-delay: 0.4s;
    width: 32px;
    height: 32px;
}

.faq_item:last-child .faq_item_head {
    border-bottom: 0;
}

.faq_item_info>p:last-child {
    margin-bottom: 0;
}

.btn_callback_send {
    width: 290px;
    padding: 15px 25px 13px;
    margin: 0 auto;
}

.callback_block_bottom {
    color: #828282;
    font-size: 16px;
    background: #F8F5F5;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    padding: 22px 15px;
}

.callback_block_wrap {
    background: #FFFFFF;
    max-width: 880px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 50px 15px -25px #e6e6e6;
}

.callback_block {
    padding: 60px 0 70px;
}

.field_item__title {
    color: #333333;
    font-weight: normal;
    padding-left: 17px;
    margin-bottom: 9px;
    font-size: 15px;
}

.field_item_label input[type='text'],
.field_item_label input[type='tel'],
.field_item_label textarea,
.field_item_label input[type='email'],
.field_item_label input[type='password'] {
    padding: 18px 22px 15px;
    width: 100%;
    border: 2px solid #BDBDBD;
    border-radius: 50px;
    appearance: none;
    background: inherit;
    color: #222;
    line-height: normal;
    vertical-align: middle;
    display: block;
    -webkit-appearance: none;
}

.field_item_label textarea {
    border-radius: 20px;
    resize: none;
    padding: 15px 20px;
    height: 175px;
    line-height: 1.6;
}

.field_item_label textarea:focus,
.field_item_label input[type='text']:focus,
.field_item_label input[type='tel']:focus,
.field_item_label input[type='email']:focus,
.field_item_label input[type='password']:focus {
    border: 2px solid #5a5a5a;
}


.callback_block_top {
    padding: 40px 40px;
}

.field_item__row.field_item__row--btn_callback {
    text-align: center;
}

.myaccount__header__user__name a {
    color: #757578;
    text-decoration: none;
    display: block;
}

.myaccount__header__user__name {
    font-family: Helvetica;
    font-size: 50px;
    font-weight: 100;
    line-height: 1;
    margin-top: 14px;
}

.myaccount__header__user__avatar {
    width: 73px;
    margin-right: 33px;
}

.myaccount__header__user__avatar a {
    display: block;
}

.myaccount__header__user__avatar img {
    width: 100%;
}

.account__header_user {
    display: flex;
    align-items: center;
    width: calc(100% - 300px);
}

.myaccount__header__user__hug_count {
    display: none;
}

.myaccount__header {
    padding: 25px 0;
}

.myaccount__header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.myaccount__header__badges {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.myaccount__header__badges__item {
    margin-right: 20px;
    width: 124px;
}

.myaccount__header__badges__item:last-child {
    margin-right: 0;
}

.myaccount__menu a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 7px 7px 0 0;
    color: #757578;
    padding: 14px 25px 12px;
    display: block;
}

.myaccount__menu ul {
    list-style: none;
    display: flex;
    align-items: start;
}

.myaccount__menu li.active a {
    background: #F8F5F5;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.174);
    color: #A78524;
    position: relative;
}

.myaccount__menu a:hover {
    background: linear-gradient(83.54deg, #A8842F -8.17%, #E5CE8B 122.63%, #AC8936 256.19%) !important;
    color: #fff !important;
}

.callback_title {
    font-family: Helvetica;
    text-align: center;
    line-height: 1;
    font-size: 50px;
    margin-bottom: 12px;
    font-weight: 200;
}

.callback_subtitle {
    font-size: 16px;
    font-family: Rotondac;
    margin-top: 0;
    text-align: center;
    margin-bottom: 40px;
}

.field_item__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.field_item__row--2 .field_item {
    width: calc(100% / 2 - 20px);
}

.field_item {
    width: 100%;
    margin-bottom: 32px;
}

span.field_required {
    color: #e22319;
    margin-left: 5px;
}

.agree_callback a {
    color: #cfb36a;
}

.agree_callback a:hover {
    color: inherit;
    text-decoration: none;
}

.agree_callback {
    font-size: 14px;
    position: relative;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
}

.agree_callback input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.field_item__message {
    font-size: 12px;
    margin-top: 11px;
    padding-left: 18px;
    display: flex;
    align-items: center;
    line-height: 1.25;
}

.field_item__message--error {
    color: #E2231A;
}

.field_item--file label {
    display: block;
    border: 2px dashed #bdbdbd;
    border-radius: 20px;
    padding: 23px 20px;
    text-align: center;
    position: relative;
    transition: 0.25s;
    background: #fff;
}

.field_item--file input {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    height: 10px;
    z-index: -1;
}

.field_item__title--file {
    color: #333333;
    opacity: 0.5;
    font-weight: bold;
    transition: 0.25s;
}

.field_item__title--file span {
    display: block;
    font-size: 15px;
    font-weight: normal;
}

.field_item--file label:hover {
    border: 2px dashed #5a5a5a;
}

.field_item--file label:hover .field_item__title--file {
    opacity: 1;
}

.field_item--file__feedback {
    left: 0;
    width: 100%;
    margin-top: -130px;
}

.myaccount__menu_mobile__select {
    display: none;
}

.myaccount__content {
    background: #F8F5F5;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.174);
    margin-bottom: -60px;
    padding-bottom: 90px;
    padding-top: 30px;
}

.myaccount__block {
    background: #FFFFFF;
    margin-bottom: 25px;
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    padding: 35px 35px 15px;
    box-shadow: 0 25px 15px -15px #e6e6e6;
}

.myaccount__exchange__wrap {
    max-width: 910px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

img.myaccount__exchange__image {
    margin-right: 25px;
}

.myaccount__exchange__title {
    font-family: Helvetica;
    font-weight: 100;
    font-size: 40px;
    line-height: 1.075;
    /* or 115% */


    /* #757578 */
    margin-bottom: 17px;
}

.myaccount__exchange__text p {
    color: #D76271;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.myaccount__exchange__info {
    padding-top: 12px;
    width: calc(100% - 145px);
}

.btn_myaccount__exchange {
    width: 270px;
    padding: 12px 12px 10px;
}

.btn_myaccount__exchange--2 {
    border: 3px solid #757579;
    border-radius: 50px;
    margin-left: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn_myaccount__exchange--2:hover {
    background: #757579;
    color: #fff;
}

.myaccount_load_info_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */


    /* #333333 */
    color: #333333;
    margin-bottom: 12px;
}

span.myaccount_load_info_point {
    font-weight: bold;
    font-size: 18px;
    background: #D76271;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding-top: 4px;
    padding-left: 5px;
    margin-right: 11px;
}

.myaccount_load_info_text {
    font-size: 18px;
    padding-top: 2px;
    width: calc(100% - 50px);
}

.myaccount_load_info_text_wrap p {
    margin-bottom: 10px;
}

ul.myaccount_load_info_text_list li {
    margin-bottom: 18px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.btn_load_check_send {
    width: 240px;
}

.myaccount__load_check__wrap {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}

.myaccount__load_form_label {
    background: #F8F5F5;
    border: 2px dashed #BDBDBD;
    border-radius: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.myaccount_load_info_text img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: -10px;
    position: absolute;
}

.myaccount__load_check__form {
    width: 56.5%;
}

.myaccount_load_info {
    width: 40%;
}

ul.myaccount_load_info_text_list {
    margin-bottom: 30px;
}

.myaccount__load_form_info_text {
    text-align: center;
    font-size: 18px;
    color: #333333;
    opacity: 0.5;
    margin-bottom: 10px;
    line-height: 1.3;
}

form#upload-form {
    height: 100%;
}

.myaccount__load_form_info input {
    left: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
    right: 0;
}

.btn_ghost {
    border: 2px solid #757578;
    border-radius: 50px;
    color: #757578;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 300px;
    width: 100%;
    padding: 12px 15px 10px;
}

.btn_ghost:hover {
    color: #fff;
    background: #757578;
}

.myaccount__load_form_label:hover {
    border-color: #757575;
}

span.myaccount_load_info_text img.myaccount_load__icon_idea {
    margin-top: -4px;
}

.myaccount__block__title {
    font-weight: 100;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    font-family: Helvetica;
    margin-bottom: 20px;
}

.myaccount__block__add_review_text {
    color: #D76271;
    font-weight: bold;
    font-size: 18px;
    width: calc(100% - 55px);
    line-height: 1.3;
    max-width: 400px;
}

.myaccount__block__add_review_top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

img.myaccount__block__add_review_top__image {
    width: 40px;
    margin-right: 15px;
}

.myaccount__block_row--2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.myaccount__block_row--2 .myaccount__block {
    width: calc(100% / 2 - 10px);
    padding: 32px 35px;
}

.invite_friend_text {
    font-weight: bold;
    font-size: 17px;
    line-height: 1.3;
    /* or 111% */
    text-align: center;

    /* #D76271 */
    color: #D76271;
    max-width: 190px;
    margin: 0px auto 25px;
}

.myaccount__block__invite {
    display: flex;
    flex-wrap: wrap;
}

.myaccount__block__invite_col {
    text-align: center;
    width: 50%;
    padding: 0 13px;
}

img.myaccount__block__invite_img {
    margin-bottom: 18px;
}

.invite_friend_promocode_text {
    font-size: 18px;
    font-weight: bold;
    color: #D76271;
    margin-right: 25px;
    margin-top: -3px;
}

.myaccount__block__invite__full {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px dashed #E0E0E0;
    margin-top: 60px;
    padding: 20px 0 0;
    margin-bottom: -15px;
}

.invite_friend_promocode_value {
    font-weight: 100;
    font-size: 30px;
    line-height: 1;
    /* or 127% */


    /* #A78524 */
    color: #A78524;
    font-family: Helvetica;
}

.invite_friend_social a {
    display: block;
    width: 47px;
    margin: 0 7px;
}

.invite_friend_social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.invite_friend_social a:hover {
    opacity: 0.5;
}

.myaccount__block__add_review {
    border-top: 1px dashed #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 8px 12px 10px;
}

.myaccount__block__add_review_name {
    margin-right: 8px;
}

.myaccount_share_status_text {
    font-weight: bold;
    font-size: 18px;
    color: #D76271;
    width: calc(100% - 55px);
    line-height: 1.2;
}

.btn_send_code {
    padding: 8px 0 7px;
    font-size: 14px;
    width: 134px;
}

.myaccount_exchange_fill_profile_text {
    font-weight: bold;
    font-size: 18px;
    color: #D76271;
    margin-bottom: 15px;
    line-height: 1.3;
}

.btn_fill_profile {
    font-size: 14px;
    padding: 9px 10px 8px;
    width: 160px;
}

.add_review_item_hug {
    color: #D76271;
}


.myaccount__block__add_review_info {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    width: calc(100% - 160px - 93px - 15px);
}

.myaccount__block__add_review>img {
    width: 66px;
    margin-right: 27px;
}

.myaccount__block__add_review__status {
    font-weight: bold;
    text-align: right;
    width: 160px;
}

.add_review__status--def {
    text-decoration: none;
    color: #BDBDBD;
    font-size: 15px;
    pointer-events: none;
}

.add_review__status--added {
    color: #6FCF97;
}

.add_review__status--btn {
    background: #d92a1c;
    color: #fff;
    pointer-events: all;
    border-radius: 20px;
    padding: 7px 20px 6px;
    display: block;
    font-size: 14px;
    text-align: center;
}


.add_review__status--btn:hover {
    background: #a51e14;
    color: #fff;
}

.block_myaccount_body_middle_title--left {
    text-align: left;
    margin-bottom: 10px;
}

.myaccount_share_status_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.myaccount_share_list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.myaccount_share_list a {
    margin: 0 8px;
}

.myaccount_share_list a:hover {
    opacity: 0.5;
}

.myaccount__block_fill_profile:before {
    content: '';
    display: block;
    position: absolute;
    background: url(../images/bg/add_anketa_2.png);
    top: -8px;
    width: 100%;
    bottom: -8px;
    z-index: 0;
    left: 5px;
    background-position: 100% 100%;
    background-size: cover;
}

.myaccount__block_fill_profile {
    position: relative;
}

.myaccount_exchange_fill_profile_wrap {
    position: relative;
}

.myaccount__block__progress__title {
    font-weight: 100;
    font-size: 30px;
    font-family: Helvetica;
    margin-bottom: 30px;
    line-height: 1.2;
}

.myaccount__block__progress__title span {
    color: #A78524;
}

.myaccount__block__progress__item {
    font-weight: bold;
    font-size: 15px;
    color: #BDBDBD;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
    width: calc(100% / 6);
}

.myaccount__block__progress__item_name {
    opacity: 0.8;
    line-height: 1.3;
    margin-bottom: 15px;
}

.myaccount__block__progress__item_period span {
    opacity: 0.8;
}

.myaccount__block__progress {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1095px;
    margin: 0 auto 30px;
    position: relative;
}

img.myaccount__block__progress__item_star {
    margin-bottom: 14px;
    filter: grayscale(1);
    opacity: 0.75;
}

.myaccount__block__progress__title_2 {
    font-size: 18px;
    color: #D76271;
    font-weight: bold;
    text-align: center;
}

.myaccount__block__progress__item.active img.myaccount__block__progress__item_star {
    filter: none;
    opacity: 1;
}

.myaccount__block__progress__item.active .myaccount__block__progress__item_period,
.myaccount__block__progress__item.active .myaccount__block__progress__item_name {
    opacity: 1;
}

.myaccount__block__progress__item.active {
    color: #D8B963;
}

.myaccount__block__progress__item_name--active {
    color: #A78524
}

.myaccount__block__progress__item_period:before {
    border-radius: 50%;
    width: 11px;
    height: 11px;
    display: block;
    content: '';
    background: #c2c2c2;
    margin: 0 auto 10px;
    z-index: 5;
    position: relative;
}

.myaccount__block__progress__item:before {
    content: '';
    right: 5px;
    position: absolute;
    left: 0px;
    border-top: 2px dashed;
    bottom: 35px;
}

.myaccount__block__progress__item:first-child:before {
    left: 50%;
    right: 5px;
}

.myaccount__block__progress__item:last-child:before {
    left: 0;
    right: 50%;
}

.myaccount__block__progress__item.active .myaccount__block__progress__item_period:before {
    background: #D8B963;
}

.myaccount__block__progress__item:last-child:after {
    width: 80px;
    height: 80px;
    content: '';
    position: absolute;
    left: calc(100% - 80px);
    background: url(../images/icons/prize.svg);
    display: block;
    background-size: contain;
    background-position: 50%;
    top: 25px;
    background-repeat: no-repeat;
}

.myaccount__block_how_text {
    font-size: 18px;
    margin-bottom: 12px;
}

.myaccount__block--decore {
    background: #FCF4E6;
    text-align: center;
}

.myaccount__block_how_title {
    font-size: 24px;
    color: #D76271;
    font-weight: bold;
    margin-bottom: 6px;
    line-height: 1.15;
}

.btn_modal_accepted_check {
    max-width: 200px;
    padding: 9px 7px 7px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.modal_accepted_check__logo {

    /* Gray 5 */
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    font-size: 0;
    text-align: center;
    height: 85px;
    padding: 14px;
    max-width: 345px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 20px 10px -15px #e6e6e6;
}

.modal_accepted_check__logo img {
    width: 130px;
}

.modal__text {
    font-size: 16px;
    text-shadow: 0px 31px 65px rgba(0, 0, 0, 0.198);
    text-align: center;
    margin-bottom: 20px;
}

.modal__default {
    box-shadow: 0px 31px 65px rgba(0, 0, 0, 0.198);
    border-radius: 20px;
    max-width: 450px;
    padding: 0;
    width: 100%;
}

.modal__title {
    font-weight: 100;
    font-size: 30px;
    font-family: Helvetica;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.1;
}

img.modal_accepted_check__image {
    display: block;
    margin: 0 auto 20px;
}

span.modal_decore__extend {
    color: #6FCF97;
}

.modal__default__wrap {
    padding: 40px 55px;
    min-height: 420px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal__title_action_extended__info {
    text-align: center;
    padding: 15px 20px 40px;
    max-width: 450px;
    margin: 0 auto;
}

.modal__title_action_extended {
    font-weight: bold;
    font-size: 30px;
    color: #E2231A;
    line-height: 1.05;
    margin-bottom: 16px;
}

.modal__text_action_extended {
    font-size: 16px;
    margin-bottom: 20px;
}

.modal_action_extended {
    max-width: 550px;
}

img.modal_exchange_retail__image {
    max-width: 120px;
    margin-bottom: 18px;
}

.modal__btn_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 18px;
    margin-top: 5px;
}

.modal__btn_wrap a {
    width: calc(50% - 10px);
    padding: 9px 5px 7px;
    font-size: 15px;
}

.modal_exchange_retail__add_text {
    text-align: center;
    color: #E2231A;
    font-size: 13px;
    line-height: 1.35;
}

span.modal_decore__extend_2 {
    color: #CB1D36;
}


.modal__exchange_hugs__block {
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    padding: 15px 15px 14px;
    box-shadow: 0 30px 10px -25px #e6e6e6;
    margin-bottom: 15px;
    width: 100%;
}

.modal__exchange_hugs__block__bottom {
    border-top: 1px solid #E0E0E0;
    font-size: 18px;
    font-weight: bold;
    color: #A8842F;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-right: 17px;
}

.modal__exchange_hugs__block__title {
    color: #D76271;
    font-weight: bold;
    width: calc(100% - 145px);
    line-height: 1.1;
    padding-top: 1px;
}

.modal__exchange_hugs__block__th {
    font-size: 12px;
    opacity: 0.5;
}

.modal__exchange_hugs__block__top {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.modal__exchange_hugs__block__tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

input.modal__exchange_hugs__block__field {
    font-weight: bold;
    text-align: center;
    width: 55px;
    border-radius: 30px;
    border: 1px solid #DEDEDE;
    padding: 7px 5px 5px;
    background: rgba(234, 234, 234, 0.43);
    color: #A8842F;
}

.modal__exchange_hugs__block__body {
    margin-bottom: 10px;
}

input.modal__exchange_hugs__block__field:disabled {
    background: #fff;
    color: #D76271;
}

.modal__exchange_hugs__block__th {
    width: 55px;
}

.modal__exchange_hugs__block__th:first-child {
    width: calc(100% - 140px);
}

.my_hugs__count_spend_text {
    color: #BDBDBD;
}

.my_hugs {
    font-size: 22px;
    font-weight: bold;
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    padding: 35px 35px 4px;
    box-shadow: 0 25px 15px -15px #e6e6e6;
    position: relative;
    margin-bottom: 40px;
}

.my_hugs__tr {
    display: flex;
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
    justify-content: space-between;
    align-items: center;
    padding: 21px 0;
}


.my_hugs__count_spend_block {
    display: flex;
    align-items: center;
    width: 420px;
    justify-content: flex-end;
    position: relative;
}

.btn_spend_hug {
    font-size: 14px;
    width: 250px;
    padding: 14px 10px 11px;
    margin-left: 20px;
}


.my_hugs__image img {
    max-width: 110px;
}

.my_hugs__image_text {
    color: #A8842F;
}


.my_hugs__tr.my_hugs__tr_all {
    border: none;
}

.my_hugs__count_spend_count {
    color: #D76271;
    margin-right: 4px;
}

.my_hugs__count_hugs {
    color: #D76271;
    width: calc(100% - 200px);
    text-align: center;
}

.my_hugs__tr_info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
}

.my_hugs__top {
    font-size: 16px;
    font-weight: normal;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 5px;
    color: rgb(117 117 120 / 0.6);
}

.my_hugs__count_hugs_ {
    display: none;
}

.my_hugs__top_col.my_hugs__top_col_1 {
    width: 120px;
    text-align: center;
}

.my_hugs__top_col.my_hugs__top_col_3 {
    width: 400px;
    text-align: center;
}

.my_hugs__top_col.my_hugs__top_col_2 {
    width: calc(100% - 400px - 355px);
}

.myaccount__block__title.myaccount__block__title__2 {
    text-align: left;
    margin-bottom: 30px;
    padding-left: 5px;
    margin-top: -10px;
}

.my_hugs__count_hugs_for_action_block_val {
    color: #A8842F;
    width: 100%;
    align-self: center;
}

.my_hugs__count_hugs_for_action_block {
    position: absolute;
    bottom: 15px;
    top: 15px;
    left: 450px;
    width: 260px;
    text-align: center;
    display: flex;
}

.my_hugs__count_hugs_for_action_block_title {
    color: rgb(117 117 120 / 0.6);
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding-left: 25px;
}

.my_hugs__tr.my_hugs__tr_all .my_hugs__count_hugs,
.my_hugs__tr.my_hugs__tr_all .my_hugs__count_spend_count {
    color: #A8842F;
}


.notifications_block_title {
    font-family: Helvetica;
    font-weight: 300;
    font-size: 22px;
    line-height: 20px;
    color: #757578;
    margin-bottom: 32px;
}

span.notifications_block_count {
    font-weight: bold;
    font-size: 11px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
    background: #D76271;
    border-radius: 50%;
    display: inline-flex;
    vertical-align: middle;
    margin-left: 3px;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.notifications_block {
    background: #FFFFFF;
    box-shadow: 0px 22px 65px rgba(0, 0, 0, 0.13);
    max-width: 375px;
    width: 100%;
    height: auto;
    top: 117px;
    position: fixed;
    right: 0;
    z-index: 99;
    -ms-overflow-style: none;
    transform-origin: 100% 0;
    transition: 0.5s;
    opacity: 1;
    bottom: 0;
}

.notifications_block_wrap {
    padding: 40px 19px 0px 26px;
}

.notifications_el {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 9px 12px 8px;
    font-size: 15px;
    color: #757578;
    justify-content: space-between;
}

.notifications_item_date {
    font-size: 13px;
    line-height: 1.2;
    color: #BDBDBD;
    margin-bottom: 7px;
}

.notifications_el.notification--not_read {
    background: #FCF4E6;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.174);
}

.notifications_el_time {
    color: #BDBDBD;
    padding-top: 8px;
    position: relative;
}

.notifications_plus_hugs .notifications_el_top {
    color: #6FCF97;
}




.notifications_minus_hugs .notifications_el_top {
    color: #D76271;
}

.notifications_el.notification--not_read .notifications_el_time:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #D76271;
    border-radius: 50%;
    position: absolute;
    left: -11px;
    top: 13px;
}

.notifications_el a {
    color: inherit;
}

.notifications_el a:hover {
    text-decoration: none;
}

a.notifications_el {
    text-decoration: none;
    border-color: #A78524;
}

.notifications_el_info.notifications_with_image {
    display: flex;
    align-items: flex-start;
}

img.notifications_image {
    height: 28px;
    margin-right: 15px;
    margin-top: 3px;
    margin-left: 3px;
}

.notifications_el .extend_text {
    color: #A78524;
}

.notifications_el_info {
    width: calc(100% - 46px);
}

a.notifications_el:hover {
    border-color: #E5CE8B;
}

.notifications_item {
    margin-bottom: 19px;
}

a.btn_notification {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #D76271;
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid #A78524;
    padding: 7px 17px;
    display: inline-block;
    margin-top: 8px;
    line-height: 1;
}

a.btn_notification:hover {
    color: #fff;
    background: #D76271;
    border-color: #D76271;
}

.notifications_el--extend {
    border-color: #A78524
}

.notifications_block_close {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notifications_block_top {
    position: relative;
}

.notifications_block_close span:before,
.notifications_block_close span:after {
    content: '';
    display: block;
    width: 13px;
    background: #BDBDBD;
    height: 1px;
    transform-origin: 50% 50%;
    position: absolute;
}

.notifications_block_close span:before {
    height: 13px;
    width: 1px;
    left: 50%;
    top: calc(50% - 6px);
}

.notifications_block_close span:after {
    left: calc(50% - 6px);
    top: 50%;
}

.notifications_block_close span {
    transform: rotate(45deg);
}

.notifications_block_close:hover span:before,
.notifications_block_close:hover span:after {
    background: #000;
}

.notifications_block_list::-webkit-scrollbar {
    display: none;
}

.notifications_block_list {
    height: calc(100vh - 209px);
    overflow: scroll;
    -ms-overflow-style: none;
}

.notification_bg {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #757578;
    opacity: 0.38;
    z-index: 98;
    display: none;
}

.notifications_block.hide {
    transform: translate(400px, 0px);
    opacity: 0;
}

.modal__catalog {
    max-width: 1100px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 31px 65px rgba(0, 0, 0, 0.198);
    position: relative;
    max-height: 95%;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.modal__catalog:after {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    height: 70px;
    width: 100%;
    position: fixed;
    content: '';
    display: block;
    bottom: 2.5%;
    border-radius: 0 0 20px 20px;
    max-width: 1100px;
}

.modal__catalog_top:after {
    content: '';
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, #C4C4C4 -127.78%, rgba(196, 196, 196, 0) 78.79%);
    display: block;
    position: absolute;
    top: 100%;
}

.modal__catalog_title {
    font-weight: 100;
    font-size: 30px;
    font-family: Helvetica;
    position: absolute;
    top: 14px;
    left: 30px;
}

.modal__catalog_top {
    padding: 0 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.modal__catalog_categories {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.modal__catalog_categories img {
    height: 30px;
    width: 80px;
    object-fit: contain;
}

.modal__catalog_categories a {
    padding: 17px;
    border-bottom: 3px solid transparent;
}

a.active {
    border-bottom: 3px solid #D76271;
}

.fancybox-bg {
    background: #fff;
}

.my_hugs__count_hugs_for_action_block:before {
    content: '';
    position: absolute;
    left: -25px;
    right: -25px;
    display: block;
    top: 100px;
    bottom: 0;
    background: #fff;
}

.my_hugs__count_spend_block:after {
    content: '';
    display: block;
    position: absolute;
    color: rgb(117 117 120 / 0.6);
    font-size: 16px;
    font-weight: normal;
    padding: 5px 20px;
    bottom: -36px;
    left: 45%;
    background: #fff;
}

.my_hugs__tr:last-child .my_hugs__count_spend_block:after {
    display: none;
}

.my_hugs__count_hugs_for_action_block_wrap {
    position: relative;
    width: 100%;
    display: flex;
    box-shadow: 0 25px 15px -15px #e6e6e6;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    padding: 17px;
    border-radius: 20px;
}

.my_hugs__top_col_4 {
    display: none;
}

.btn_exchange {
    color: #D76271;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #D76271;
    border-radius: 50px;
    padding: 6px 20px 4px;
}

.modal__catalog_item_level--0 {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__catalog_item_level--0>img {
    width: 260px;
}

.modal__catalog_body {
    padding: 0 30px 60px;
}

.modal__catalog_item_level--0_info {
    width: calc(100% - 300px);
}

.btn_exchange:hover {
    color: #fff;
    background: #D76271;
}

.modal__catalog_item_level--0__hugs {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 7px;
    color: #D76271;
}

.modal__catalog_item_level--0__text {
    margin-bottom: 7px;
    line-height: 1.35;
}


span.level_extend_text {
    font-weight: bold;
    color: #d76371;
}

.modal__catalog_item_level {
    border-bottom: 1px solid #EAEAEA;
    padding: 35px 0;
}

a.product_image_wrap_modal {
    display: block;
    max-width: 160px;
    margin: 0 auto 15px;
}

.product_title_count {
    font-size: 18px;
    font-weight: bold;
    color: #D76271;
    margin: 7px 0;
}

.product_title_modal {
    font-size: 14px;
}

.product_item_modal {
    text-align: center;
    padding: 0 12px;
}

.modal__catalog_item_level__title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.modal__catalog_item_level.modal__catalog_item_level_0 {
    padding: 40px 0;
}

.catalog_list_modal .slick-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    appearance: none;
    font-size: 0;
    background-color: transparent;
    position: absolute;
    top: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.25s;
    transform: translate(0, -50%);
}

.catalog_list_modal .slick-next {
    background-image: url(../images/icons/modal_catalog/next.svg);
    right: 0;
}

.catalog_list_modal .slick-prev {
    background-image: url(../images/icons/modal_catalog/prev.svg);
    left: 0;
}

.catalog_list_modal .slick-arrow:hover {
    opacity: 0.5;
}

.catalog_list_modal .slick-slide {
    height: auto;
}

.catalog_list_modal ul.slick-dots button {
    width: 10px;
    height: 10px;
}

.catalog_list_modal ul.slick-dots li {
    margin: 0 8px;
}

.catalog_list_modal ul.slick-dots {
    margin-top: 30px;
    position: relative;
    z-index: 5;
}


.modal__catalog_item_level:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.catalog_list_modal {
    padding: 0 40px;
}

.catalog_list_modal .slick-arrow.slick-disabled {
    opacity: 0;
    pointer-events: none;
}

.modal__catalog::-webkit-scrollbar {
    display: none;
}

.modal__catalog .fancybox-close-small {
    top: 11px;
    right: 10px;
}


ul.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    list-style: none;
    margin-top: 50px;
}

ul.slick-dots li {
    margin: 0 10px;
}

ul.slick-dots button {
    background: #000;
    font-size: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    appearance: none;
    border: none;
    background: #ccc;
}

ul.slick-dots button:hover {
    background: #A78524;
}

li.slick-active button {
    background: #A78524;
}

.myaccount__block_spend_body_top {
    font-size: 28px;
    font-weight: 300;
    font-family: Helvetica;
    margin-bottom: 35px;
    width: 100%;
}

.myaccount__block_spend_top_title {
    font-weight: bold;
    font-size: 14px;
    margin-right: 50px;
}

.myaccount__block_spend_top_list img {
    width: 100px;
    height: 40px;
    object-fit: contain;
}

.myaccount__block_spend_top_list a {
    text-decoration: none;
    font-size: 0;
    padding: 19px 30px;
    display: block;
}

.myaccount__block_spend_top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;
    padding: 0 35px;
}

.myaccount__block_spend_filter__shop {
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    text-align: center;
    color: #D76271;
    padding: 20px 20px 15px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 15px 15px -10px #e6e6e6;
}

.myaccount__block_spend_filter__shop__hugs {
    line-height: 1;
    font-weight: bold;
    font-size: 24px;
}

.myaccount__block_spend_filter__shop img {
    display: block;
    margin: 0 auto 17px;
    width: 140px;
    height: 60px;
    object-fit: contain;
}


.myaccount__block_spend_filter {
    width: 240px;
    padding-right: 30px;
    border-right: 1px solid #EAEAEA;
}


.myaccount__block_spend_filter__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 14px;
}

span.myaccount__block_spend_filter__item_view {
    width: 20px;
    height: 20px;
    border: 1px solid #BDBDBD;
    display: block;
    border-radius: 4px;
    margin-right: 13px;
    position: relative;
}

label.myaccount__block_spend_filter__item input[type='radio'] {
    opacity: 0;
    z-index: -1;
    position: absolute;
    height: 0;
    width: 0;
    visibility: hidden;
}

label.myaccount__block_spend_filter__item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

span.myaccount__block_spend_filter__item_text {
    line-height: 1;
    padding-top: 4px;
}

label.myaccount__block_spend_filter__item:last-child {
    margin-bottom: 0;
}

.myaccount__block_spend_filter__block {
    margin-bottom: 22px;
}

.myaccount__block_spend_filter__title img {
    margin-left: 5px;
}

.myaccount__block_spend_filter__block:last-child {
    margin-bottom: 0;
}

label.myaccount__block_spend_filter__item input[type='radio']:checked+.myaccount__block_spend_filter__item_view {
    border: 1px solid #A78524;
}

label.myaccount__block_spend_filter__item input[type='radio']:checked+.myaccount__block_spend_filter__item_view:before,
label.myaccount__block_spend_filter__item input[type='radio']:checked+.myaccount__block_spend_filter__item_view:after {
    transform: rotate(45deg);
    position: absolute;
    display: block;
    content: '';
    width: 6px;
    height: 2px;
    border-radius: 10px;
    background: #A78524;
    top: 10px;
    left: 3px;
}

label.myaccount__block_spend_filter__item input[type='radio']:checked+.myaccount__block_spend_filter__item_view:after {
    width: 10px;
    transform: rotate(-45deg);
    top: 8px;
    left: 6px;
}

.myaccount__block.myaccount__block_spend_block {
    padding: 0;
}

.myaccount__block_spend_body {
    padding: 30px 35px 50px;
}

.myaccount__block_spend_top_list {
    display: flex;
    align-items: center;
}

.myaccount__block_spend_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.myaccount__block_spend_column {
    width: calc(100% - 240px);
    margin-bottom: -70px;
}

.myaccount__block_spend_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.product_item_wrap {
    width: calc(100% / 4);
    text-align: center;
    margin-bottom: 70px;
    padding: 0 15px;
}

.product_item_wrap a.product_image_wrap_modal {
    max-width: 135px;
}

.myaccount__block_spend_mobile {
    display: none;
}


.myaccount__spend_mobile_view_value {
    background: #F8F5F5;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: calc(100% - 44px - 12px);
    padding: 2px 16px;
    position: relative;
}

.myaccount__spend_mobile_view_value b {
    color: #D76271;
    margin-left: 6px;
}

.myaccount__block_spend_mobile_view {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.myaccount__spend_mobile_view_btn {
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background: #F8F5F5;
    width: 44px;
    height: 44px;
    background-image: url(../images/icons/btn_filter.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}

.myaccount__spend_mobile_view_value:after {
    display: block;
    content: '';
    width: 25px;
    height: 25px;
    right: 11px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/icons/drop.svg);
    filter: brightness(0);
}

.page__form_block {
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 50px 15px -25px #e6e6e6;
    margin-bottom: 25px;
    padding: 45px 35px;
    margin: 0 auto;
    position: relative;
}

.page__form_login {
    max-width: 800px;
    position: relative;
    padding-bottom: 110px;
}

.page__form_block__wrap {
    padding: 70px 0;
}

.field_item.field_item--submit button {
    width: 100%;
}

span.block__checkbox__view {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    left: 0;
    top: 0;
    margin-right: 15px;
    position: relative;
}

.block__checkbox input:checked+.block__checkbox__view {
    border-color: #d3b770;
    box-shadow: 0 0 0 1px #d3b770;
}

.block__checkbox label {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.block__checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

a.link_lost_password {
    color: #A78524;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 30px;
    display: inline-block;
    margin-left: 10px;
}

a.link_lost_password:hover {
    color: #828282;
}

.page__form_login__bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: #828282;
    font-size: 16px;
    background: #f1f1f1;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    padding: 22px 15px;
}

.page__form_login__bottom a {
    color: #A78524;
    text-decoration: none;
}

.page__form_login__bottom a:hover {
    color: #828282;
}

.block__remember_me {
    margin-bottom: 20px;
    margin-left: 10px;
}

span.block__remember_me__text {
    line-height: 1.2;
    margin-top: 4px;
}

.login_page__form {
    width: 275px;
    position: relative;
}

.login_page__form__social {
    width: 275px;
}

.social__login {
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5074A7;
    border-radius: 50px;
    padding: 16px 10px;
    width: 260px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 auto 25px;
}

.social__login img {
    margin-right: 17px;
}

.social__login__title {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #333;
    margin-bottom: 20px;
}

.social__login:last-child {
    margin-bottom: 0;
}

.page__form_block__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 39px;
}

.social__login--ok {
    background: #FF7E2E;
}



.social__login--gg {
    background: #D34836;
}

.social__login:hover {
    opacity: 0.8;
    color: #fff;
}


.field_item:last-child {
    margin-bottom: 0;
}

.page__form_block__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 39px;
    flex-wrap: wrap;
}

.social__login--ok {
    background: #FF7E2E;
}

.social__login--fb {
    background: #3A5897;
}

.social__login--gg {
    background: #D34836;
}

.social__login:hover {
    opacity: 0.8;
    color: #fff;
}

.login_page__form_wrap__divide:after {
    content: '';
    display: block;
    position: absolute;
    border-left: 2px dashed #E0E0E0;
    height: 100%;
    right: -1px;
    top: 0;
}

.field_item:last-child {
    margin-bottom: 0;
}

.block__checkbox input:checked+.block__checkbox__view:after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 13px;
    height: 7px;
    border: 2px solid #d3b770;
    margin: auto;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    margin-top: 6px;
}

.block__checkbox input:checked+.block__checkbox__view+.block__checkbox__text {
    color: #a88525;
}

.login_page__form_wrap {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.login_page__form_wrap--left {
    justify-content: flex-start;
}

.login_page__form_wrap--right {
    justify-content: flex-end;
}

.lost_password_wrap {
    max-width: 300px;
    margin: 30px auto 0;
}

.page__form_password {
    max-width: 700px;
}

.page__form_password .callback_title {
    font-size: 28px;
}

.page__form_registration {
    max-width: 1100px;
    padding-bottom: 110px;
}

.registration_wrap__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.registration_col.registration_col__big {
    width: calc(100% - 335px);
    border-right: 2px dashed #E0E0E0;
    padding-right: 60px;
    padding-left: 20px;
}

.field_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.field_row--2 .field_item {
    width: calc(100% / 2 - 20px);
}

.field_row .field_item {
    margin-bottom: 0;
}

.field_row {
    margin-bottom: 32px;
}

.btn_add_child {
    padding: 6px 15px 5px;
    font-size: 12px;
    text-transform: none;
    margin-top: 15px;
    overflow-anchor: none;
}

.block__checkbox__text {
    width: calc(100% - 39px);
}

.generate_password {
    border-bottom: 2px dashed #bbbbbb;
    padding: 0 0 3px;
    background: transparent;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.44);
    border-radius: 0;
    font-weight: normal;
    margin-top: 83px;
}

.generate_password:hover {
    background: transparent;
    border-color: transparent;
    color: #b39140;
}

.password_required {
    font-size: 12px;
    color: #333333;
    padding-left: 14px;
    line-height: 1.2;
}

.password_required p {
    margin-bottom: 10px;
    margin-top: 25px;
}

.password_required ul {
    padding-left: 15px;
}



.block__checkbox.block__checkbox__agree {
    font-size: 14px;
}

span.block__checkbox__text a {
    color: #A78524;
}

span.block__checkbox__text a:hover {
    color: inherit;
    text-decoration: none;
}

.myaccount__menu li.active a:after {
    bottom: -10px;
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    height: 10px;
    background: #f8f5f5;
}

.idea_block__info {
    background: #FFFFFF;
    /* 3 */
    box-shadow: 0px 31px 65px rgba(0, 0, 0, 0.198);
    border-radius: 15px;
    position: absolute;
    opacity: 0;
    transform: translate(0, 10px);
    transition: 0.4s;
    color: #757578;
    font-size: 14px;
    font-weight: normal;
    width: 270px;
    padding: 16px;
    bottom: 40px;
    left: -55px;
    line-height: 1.3;
}

span.idea_block:hover .idea_block__info {
    opacity: 1;
    transform: translate(0, 0);
}

.idea_block__info a {
    color: #A8842F;
}

.idea_block__info a:hover {
    color: inherit;
    text-decoration: none;
}

span.idea_block {
    position: relative;
    margin-left: 5px;
    display: inline-flex;
}

.idea_block__info:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    bottom: -6px;
    left: 57px;
    display: block
}

.idea_block__info b {
    display: block;
    margin-bottom: 2px;
}

.spend_content {
    display: none;
}

.spend_content.active {
    display: block;
}

.myaccount__block_spend_mobile__body {
    display: none;
    position: absolute;
    top: 0;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 50px 15px -25px #e6e6e6;
    margin-bottom: 25px;
    padding: 25px 20px;
    right: 0;
    left: 0;
}

.spend_mobile__body_shop_list {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    border-radius: 0 0 10px 10px;
    width: 100%;
    box-shadow: 0 25px 10px -15px #e6e6e6;
    position: absolute;
    top: 100%;
    background: #fff;
    z-index: 1;
    display: none;
    border-top: 0;
}

.spend_mobile__body_shop_list a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #D76271;
    width: 100%;

    /* Gray 4 */
    border-bottom: 1px solid rgb(189 189 189 / 0.5);
    padding: 20px 15px;
    padding-right: 45px;
}

.spend_mobile__body_shop_lista img {
    width: 100px;
}

.spend_mobile__body_shop_list img {
    width: 90px;
    height: 47px;
    object-fit: contain;
}

.spend_mobile__count {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80px;
}

.btn_close_mobile_filter {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn_close_mobile_filter:before,
.btn_close_mobile_filter:after {
    content: '';
    display: block;
    position: absolute;
    right: auto;
    left: 4px;
    top: 17px;
    bottom: 0;
    width: 24px;
    height: 2px;
    background: #757579;
    transform: rotate(45deg);
}

.btn_close_mobile_filter:after {
    transform: rotate(-45deg);
}

.spend_mobile__body_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}

.spend_mobile__body_title {
    font-weight: bold;
    font-size: 18px;
}

.spend_mobile__body_title .idea_block {
    transform: translate(0, 2px);
}

.spend_mobile__body_shop_list_view {
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    width: 100%;
    padding: 20px 15px;
    position: relative;
    padding-right: 45px;
    box-shadow: 0 25px 10px -15px #e6e6e6;
    transition: 0.4s ease 0.4s;
}

.spend_mobile__body_shop_list_view img {
    width: 90px;
    height: 47px;
    object-fit: contain;
}

.spend_mobile__body_shop_list_view a {
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: #D76271;
    text-decoration: none;
}

.spend_mobile__count .spend_mobile__count_text {
    display: block;
    font-size: 15px;
    margin-top: -8px;
}

a.btn_spend_mobile__body_shop_list_drop {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    width: 32px;
    height: 32px;
}

a.btn_spend_mobile__body_shop_list_drop:after {
    content: '';
    position: absolute;
    border: 2px solid #757578;
    transform: rotate(45deg);
    width: 13px;
    height: 13px;
    border-radius: 0 0 2px 0;
    display: block;
    border-top: 0;
    border-left: 0;
    right: 0;
    left: 0;
    top: -7px;
    bottom: 0;
    margin: auto;
    transition: 0.4s;
}

.spend_mobile__body_shop_list a:last-child {
    border: none;
}

.spend_mobile__body_shop_list_wrap {
    position: relative;
}

.spend_mobile__body_shop_list_view.active {
    border-radius: 10px 10px 0 0;
    transition: 0s;
}

.spend_mobile__body_shop_list_view.active a.btn_spend_mobile__body_shop_list_drop:after {
    transform: rotate(-135deg);
}

.spend_mobile__total_row {
    color: #A8842F;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 45px 20px 35px;
}

.spend_mobile__total_title {
    font-size: 24px;
    width: 100px;
    line-height: 1;
}

.choose_gender__item__view {
    width: 72px;
    height: 36px;
    border-radius: 100px;
    border: 2px solid #CFB36A;
    position: relative;
    cursor: pointer;
    background: #fff;
}

.choose_gender_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0 15px;
    flex-wrap: wrap;
}

.choose_gender__item__view__dot {
    width: 26px;
    height: 26px;
    background: #cfb36a;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    display: block;
    left: 5px;
    transition: 0.4s;
    transform: translate(0, -50%);
}

.choose_gender__item img {
    width: 27px;
}

.choose_gender__item input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.choose_gender__item {
    display: flex;
    align-items: center;
}

.choose_gender__title {
    font-size: 22px;
    line-height: 1;
    padding-top: 15px;
}

.choose_gender__item--woman .choose_gender__title {
    margin-left: 22px;
}

.choose_gender__item--man .choose_gender__title {
    margin-right: 22px;
}

.choose_gender__item__view_block {
    padding: 0 15px;
    margin-top: 12px;
}

.choose_gender__item.active {
    color: #CFB36A;
}

.choose_gender__item__view.man .choose_gender__item__view__dot {
    left: calc(100% - 5px - 26px);
}

.field_item__subtitle_promocode {
    font-size: 13px;
    color: #828282;
    margin-bottom: 20px;
}

.field_item__title_promocode {
    color: #333333;
    font-size: 18px;
    margin-bottom: 5px;
}

.field_row--end {
    align-items: flex-end;
}

input[type='text'].date_input {
    padding-right: 45px;
    background: url(../images/icons/date.svg);
    background-repeat: no-repeat;
    background-position: 92% 50%;
}

.field_item--child .field_item_label {
    margin-bottom: 20px;
    display: block;
}

.field_item--child .field_item_label:last-of-type {
    margin-bottom: 0;
}

.myaccount__edit_block__line .myaccount__block__title.myaccount__block__title__2 {
    margin: 0;
}

.myaccount__edit_block__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myaccount__edit_block {
    margin: 0 -35px;
    border-top: 5px solid #f7f4f4;
    padding: 40px 35px;
}

.myaccount__edit_block.myaccount__edit_block--last {
    padding-bottom: 0;
}

.edit__social_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

a.edit__social_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 2px solid #757579;
    border-radius: 50px;
    padding: 5px;
    width: calc(100% / 4 - 25px);
    flex-wrap: wrap;
    color: #757579;
    font-weight: 500;
    justify-content: space-between;
}

.edit__social_link__title {
    width: calc(100% - 96px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    padding-top: 2px;
    line-height: 1;
}

a.edit__social_link img {
    width: 42px;
    margin-right: 10px;
}

.edit__social_link__btn {
    font-weight: 700;
    font-size: 18px;
    color: #b08d3b;
    margin-right: 20px;
    width: 10px;
    margin-left: 14px;
}

a.edit__social_link:hover {
    background: #75757a;
    color: #fff;
}

a.edit__social_link:hover .edit__social_link__btn {
    color: #fff;
}

.field_item.field_item--child.field_item--child--4 {
    display: flex;
    align-items: flex-end;
    margin: 0 -10px 10px;
    flex-wrap: wrap;
}

.field_item.field_item--child.field_item--child--4 .btn_add_child {
    margin-bottom: 23px;
    margin-left: 10px;
}

.field_item.field_item--child.field_item--child--4 label.field_item_label {
    margin-bottom: 15px;
    width: calc(100% / 4 - 20px);
    margin: 0 10px 20px;
}

.field_row--3 .field_item {
    width: calc(100% / 3 - 30px);
    margin: 0 15px 32px;
}

.field_row.field_row--3 {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
}

.choose_gender_block.choose_gender_block--small {
    max-width: 500px;
}

.field_item.field_item--submit button.btn_edit_user_info {
    max-width: calc(100% / 3 - 20px);
}
.modal__big {
    max-width: 800px;
}
.modal_align--left{
    align-items: flex-start;
}
.modal__text--left{
    text-align: left;
}

.hugs_history__row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px dashed #E0E0E0;
    padding: 13px 0;
}



.hugs_history__col_0 {
    width: 66%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.hugs_history__col_3 {
    opacity: 0.6;
    width: 33.33%;
    text-align: right;
    color: #757578;
}

.hugs_history__col_0 .adding {
    color: #6FCF97;
}

.hugs_history__col_0 a {
    color: inherit;
}

.hugs_history__col_0 a:hover {
    color: #333;
    text-decoration: none;
}

.hugs_history__col_2 {
    width: 50%;
}

.hugs_history__col_1 {
    width: 50%;
}

.hugs_history__row:last-child {
    border-bottom: none;
}

.hugs_history__col_0 .removing {
    color: #E2231A;
}
.btn_show_history_hugs {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    margin: 0 auto 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 310px;
    color: #A78524;
}

.btn_show_history_hugs:before {content: '';width: 14px;height: 14px;border: 3px solid;transform: rotate(45deg);border-left: 0;border-top: 0;margin-right: 18px;display: inline-block;vertical-align: middle;margin-top: -9px;}

.btn_show_history_hugs:hover {
    color: #bdbdbd;
}
.hugs_history {
    display: none;
}
.my_hugs--deactive__message {
    background: #FFFFFF;
    box-shadow: 0px 31px 65px rgba(0, 0, 0, 0.198);
    border-radius: 15px;
    position: absolute;
    opacity: 0;
    transform: translate(0, 10px);
    transition: 0.4s;
    color: #757578;
    font-size: 14px;
    font-weight: normal;
    width: 270px;
    padding: 23px;
    bottom: 40px;
    left: 0;
    line-height: 1.3;
}


.my_hugs__image:hover .my_hugs--deactive__message {
    opacity: 1;
    transform: translate(0, 0);
}

.my_hugs__image {
    position: relative;
}

.my_hugs--deactive__message:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    bottom: -6px;
    left: 57px;
    display: block;
}

.my_hugs--deactive .my_hugs__image img, .my_hugs--deactive .my_hugs__count_hugs,.my_hugs--deactive .my_hugs__count_spend_block {
    filter: grayscale(1);
    opacity: 0.5;
}


.my_hugs--deactive .my_hugs__count_spend_block .btn_spend_hug {
    pointer-events: none;
}
.my_hugs__count_spend_count {
    display: inline;
}