@media screen and (max-width:1350px) {
    .notifications_block {
        top: 102px;
    }

    .home_page__prize_top {
        text-align: center;
        display: block;
        width: 100%;
        padding: 0 25px;
    }

    a.home_page__prize_link {
        margin: 0 auto 15px;
    }

    body {
        padding-top: 102px;
    }

    .home__earn_hug__wrap {
        margin: 0 -20px;
        padding: 55px 25px;
    }

    .home_page__prize_wrap {
        margin: 0 -20px;
        padding: 40px 0px;
    }

    .home_page__prize_item {
        max-width: 300px;
        padding: 0 25px;
    }

    nav.header__menu li:last-child {
        margin-right: 0;
    }

    nav.header__menu li {
        margin-right: 40px;
    }

    .home_page__prize_top {
        text-align: center;
        display: block;
        width: 100%;
        padding: 0 25px;
    }

    a.home_page__prize_link {
        margin: 0 auto 15px;
    }




    a.logo_header {
        width: 110px;
    }

    nav.header__menu {
        width: calc(100% - 110px - 500px);
        padding-left: 40px;
    }

    nav.header__menu ul {
        justify-content: center;
    }
}


@media screen and (max-width: 1250px) {
    .my_hugs__count_hugs_for_action_block {
        left: 37%;
        width: 250px;
    }

    .my_hugs__tr_info {
        width: 29%;
    }

    .my_hugs__top_col.my_hugs__top_col_2 {
        width: calc(100% - 400px - 265px);
    }


    .home__earn_hug__list .home__earn_hug__item__image img {
        max-width: 250px;
    }

    .home__earn_hug__item__wrap {
        padding: 0 25px;
    }

    .home__earn_hug__list {
        margin-left: -25px;
        margin-right: -25px;
    }


    p.prize_block_text {
        padding-left: 25px;
    }

    .home_page__prize_items:before {
        top: 100px;
    }

    img.home_page__prize_item__image {
        height: 140px;
        margin: auto;
        width: 250px;
        object-fit: contain;
        object-position: 50% 100%;
        bottom: 0;
    }
}

@media screen and (max-width:1200px) {
    .my_hugs__count_spend_block {
        flex-wrap: wrap;
        width: 330px;
    }

    .my_hugs__top_col.my_hugs__top_col_3 {
        width: 330px;
    }

    .my_hugs__count_spend_text {
        margin-bottom: 5px;
    }

    .my_hugs__count_hugs_ {
        display: inline-block;
        margin-left: 5px;
    }

    .my_hugs__top {
        padding-top: 30px;
    }

    .my_hugs__image {
        width: 150px;
    }

    .my_hugs__top_col.my_hugs__top_col_1 {
        width: 150px;
    }

    .my_hugs__tr {
        flex-wrap: wrap;
    }

    .my_hugs__top_col.my_hugs__top_col_2 {
        width: calc(100% - 330px - 150px);
        text-align: center;
    }

    .my_hugs__count_hugs_for_action_block {
        display: block;
        position: static;
        width: 100%;
    }

    .my_hugs__count_hugs_for_action_block:before {
        display: none;
    }

    .my_hugs__count_hugs_for_action_block_wrap {
        box-shadow: none;
        background: transparent;
        border: none;
        padding: 0;
        flex-direction: row;
        border-bottom: 1px solid #E0E0E0;
        border-radius: 0;
        margin-left: -35px;
        margin-right: -35px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 20px;
        width: auto;
        align-items: center;
    }

    .my_hugs__count_hugs_for_action_block_title {
        position: static;
        max-width: 95px;
        text-align: left;
        position: relative;
        padding: 0;
    }

    .my_hugs__count_hugs_for_action_block_title img {
        position: absolute;
        bottom: 6px;
        right: -20px;
    }

    .my_hugs__count_hugs_for_action_block_val {
        text-align: right;
        font-size: 28px;
        line-height: 1;
        width: auto;
        margin-left: 55px;
    }

    .my_hugs {
        padding-top: 25px;
    }


    .my_hugs__tr_info {
        width: calc(100% - 330px);
    }

    .my_hugs__count_hugs {
        width: calc(100% - 150px);
        text-align: center;
        justify-content: center;
    }

    .myaccount__header__user__name {
        font-size: 36px;
        margin-top: 9px;
        font-weight: 300;
    }

    .myaccount__header__user__avatar {
        margin-right: 22px;
        width: 65px;
    }

    .account__header_user {
        width: calc(100% - 220px);
    }

    .myaccount__header__badges__item {
        width: 100px;
    }

    section.home__calendar {
        background-position: -190px 65%, 100% 100%;
    }

    .home__calendar__info {
        padding-left: 270px;
        padding-right: 0;
    }
}

@media screen and (min-width:1141px) {
    .mobile_menu.active {
        display: none;
    }
}

@media screen and (max-width:1140px) {
    .notifications_block {
        top: 77px;
    }

    .myaccount__load_check__form {
        width: 50%;
    }



    .myaccount_load_info {
        width: 45%;
    }

    .home_page__prize_items:before {
        width: 90%;
        margin: auto;
        left: 0;
        right: 0;
    }

    .home__earn_hug__list:before {
        left: 0;
        right: 0;
        margin: auto;
        width: 90%;
    }

    a.mobile_header__user_login__exit:hover {
        filter: grayscale(1);
        opacity: 0.5;
    }

    .mobile__header__user_login {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .header_user__label.header_user__label--user {
        margin-right: 8px;
    }

    .header_user__block_hugs {
        font-size: 13px;
        color: #D76271;
        font-weight: bold;
    }

    .header_user__block_wrap {
        margin-top: 6px;
    }

    a.header_user__block {
        margin-right: 0;
        margin-bottom: 17px;
    }

    a.mobile__header__to_buy {
        border: 2px solid #BDBDBD;
        border-radius: 50px;
        display: block;
        width: 192px;
        text-align: center;
        color: #757578;
        text-decoration: none;
        font-weight: bold;
        padding: 7px;
        margin-bottom: 20px;
    }

    a.mobile__header__to_buy:hover {
        background: #757578;
        color: #fff;
        border-color: #757578;
    }

    span.mobile_header__user_exit__text {
        color: #757578;
        opacity: 0.6;
        line-height: 1;
        margin-top: 3px;
    }

    a.mobile_header__user_login__exit {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    span.mobile_header__user_exit__icon {
        width: 21px;
        height: 21px;
        border: 1px solid #BDBDBD;
        border-radius: 50px;
        display: block;
        margin-right: 10px;
        background-image: url(../images/icons/close.svg);
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .home_page__prize_title {
        font-size: 34px;
        line-height: 1.2;
    }

    .home_page__prize_subtitle {
        font-size: 22px;
    }

    .home_triggers:before {
        width: 70%;
        margin: 0 auto;
        right: 0;
        left: 0;
    }

    img.home_banner__logo {
        max-width: 270px;
    }

    .home_banner__partners_list {
        max-width: 300px;
    }

    section.home_banner {
        background-position: calc(100% + 150px) 0%;
    }

    .header__user_info {
        display: none;
    }

    nav.header__menu {
        display: none;
    }

    .btn_mobile_menu {
        display: block;
        position: relative;
        height: 40px;
        width: 40px;
        padding: 4px;
        margin-right: 60px;
    }

    .header_user_info__mobile {
        display: flex;
        order: 2;
        align-items: center;
    }

    img.header_user__label--notification_icon {
        width: 40px;
    }

    a.mobile_login_avatar {
        padding: 6px 10px;
        filter: grayscale(1);
    }

    a.logo_header {
        order: 1;
        width: 85px;
    }

    header.header_main {
        padding: 10px 0;
    }

    body {
        padding-top: 77px;
    }

}

@media screen and (max-width:1100px) {
    .myaccount__block_row--2 .myaccount__block {
        width: 100%;
    }

    .myaccount__block_fill_profile:before {
        background-size: auto 100%;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:1050px) {
    .field_row--3 .field_item {
        width: calc(100% / 3 - 20px);
        margin: 0 10px 32px;
    }

    .field_row.field_row--3 {
        margin-left: -10px;
        margin-right: -10px;
    }

    .field_item.field_item--child.field_item--child--4 label.field_item_label {
        width: calc(100% / 3 - 20px);
    }

    a.edit__social_link {
        width: calc(100% / 2 - 20px);
        margin-bottom: 15px;
        max-width: 350px;
        margin: 0 10px 20px;
    }

    .edit__social_links {
        margin: 0 -15px -20px;
        justify-content: flex-start;
    }

    .choose_gender_block {
        max-width: 550px;
        margin: 0 auto 35px;
    }

    .registration_col.registration_col__big {
        width: 100%;
        border: none;
        padding: 0;
    }

    .registration_wrap__social {
        order: -1;
        width: 100%;
        margin-bottom: 40px;
    }

    .registration_wrap__social .social__login {
        font-size: 0;
        width: 50px;
        padding: 0;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 15px 0;
    }

    .registration_wrap__social .social__login img {
        margin: 0;
    }

    .registration_wrap__social .social__login__title {
        font-size: 0;
    }

    .registration_wrap__social form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    .page__form_block__wrap--registration {
        padding: 30px 20px;
    }

    .registration_wrap__block {
        margin-top: 30px;
    }

    .registration_wrap__social .login_page__form__social {
        width: 100%;
    }

    .product_item_wrap {
        width: calc(100% / 3);
    }
}

@media screen and (max-width:950px) {
    section.home_page__registration {
        background-position: 100% 100%;
        background-size: auto 75%;
    }
}

@media screen and (max-width:920px) {
    .btn_spend_hug {
        margin: 0;
        font-size: 12px;
        width: 200px;
    }

    .my_hugs__count_spend_block:after {
        display: none;
    }

    .my_hugs__tr_info {
        width: calc(100% - 205px);
        align-self: flex-end;
    }

    .my_hugs__count_hugs {
        align-self: flex-end;
    }

    .my_hugs__top {
        display: none;
    }

    .my_hugs {
        padding: 0;
        border: none;
    }

    .my_hugs__count_hugs_for_action_block_wrap {
        border: none;
        margin: 0;
        padding: 0 0 15px;
    }

    .my_hugs__tr,
    .my_hugs__tr.my_hugs__tr_all {
        border: 1px solid #E0E0E0;
        border-radius: 16px;
        box-shadow: 0 25px 15px -15px #e6e6e6;
        padding: 25px 30px 40px;
        justify-content: center;
        margin: 0 auto 25px;
    }

    .my_hugs__count_spend_block {
        justify-content: center;
        flex-direction: column;
        font-size: 19px;
        width: 205px;
    }

    .modal__catalog_title {
        font-size: 24px;
        position: static;
        margin-bottom: 5px;
    }

    .modal__catalog_top {
        padding: 12px 0 0;
    }

    .modal__catalog_categories a {
        padding: 5px 20px;
    }

    .modal__catalog_categories img {
        width: 55px;
        height: 30px;
    }

    .myaccount__block__progress__item:last-child:after {
        width: 50px;
        height: 50px;
        left: calc(100% - 60px);
        top: 38px;
    }

    .myaccount__load_check__wrap {
        flex-direction: column-reverse;
    }

    .myaccount__load_check__form {
        width: 100%;
    }

    .myaccount__load_form_label {
        height: 250px;
    }

    .myaccount_load_info {
        width: 100%;
        margin-bottom: 40px;
    }

    .myaccount__header__user__name {
        font-size: 30px;
        margin: 0;
        line-height: 1.2;
        margin-bottom: -1px;
    }

    .myaccount__header__user__avatar {
        width: 60px;
        margin-right: 19px;
    }

    .myaccount__header__user__hug_count {
        display: block;
        font-size: 18px;

        /* or 254% */


        /* #D76271 */
        color: #D76271;
        font-weight: bold;
        line-height: 1;
    }

    .myaccount__header__badges__item {
        width: 85px;
        margin-right: 12px;
    }

    .account__header_user {
        width: calc(100% - 200px);
    }

    .faq_item_head {
        padding: 40px 0;
    }

    .faq_item_btn {
        margin-right: 30px;
    }

    .faq_item_question {
        font-size: 21px;
    }

    .faq_item_info {
        background: #F8F5F5;
        margin-left: -30px;
        margin-right: -30px;
        padding: 35px 30px;
        font-size: 17px;
    }

    .faq_item_info:before {
        left: 40px;
    }

    .faq_page__text_wrap {
        padding: 30px 30px 15px;
    }

    .faq_wrap_title {
        font-weight: 300;
        font-size: 34px;
        line-height: 1.3;
    }

    .faq_title {
        font-size: 40px;
        font-weight: 300;
        max-width: 350px;
    }

    .faq_top {
        padding: 90px 0 60px;
    }

    .home_triggers {
        flex-wrap: wrap;
        justify-content: center;
    }

    .home_trigger {
        width: 320px;
        margin-bottom: 90px;
    }

    .home_triggers:before {
        background-image: url(../images/index/triggers/line_mobile.svg);
        background-size: 100% 56%;
        position: absolute;
        top: 45px;
        width: 100%;
        height: 100%;
        background-position: 0px 4%;
    }

    section.home_banner {
        padding-bottom: 0;
        background-size: 150% auto;
    }

    .home_banner__title {
        font-size: 34px;
        line-height: 1.25;
        font-weight: 300;
    }

    .home_banner__info {
        max-width: 390px;
        margin-bottom: 70px;
    }

    img.home_banner__logo {
        max-width: 250px;
    }


    .home_banner__partners_title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    section.home__calendar {
        background: url(../images/index/calendar/bg.jpg);
        padding: 60px 0;
    }

    .home__calendar__info {
        padding: 0;
        max-width: 600px;
        margin: 0 auto;
    }

    ul.footer__menu {
        display: none;
    }

    .footer__info_description {
        width: 100%;
        order: 1;
    }

    .footer__social {
        order: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:850px) {
    .myaccount__block_spend_column {
        width: 100%;
    }

    .myaccount__block_spend_filter {
        width: 100%;
        margin-bottom: 50px;
        padding: 0;
        display: flex;
        flex-direction: row;
        border-right: none;
        border-bottom: 1px solid #EAEAEA;
        padding-bottom: 10px;
    }



    .myaccount__block_spend_filter__title {
        margin-right: 26px;
        width: 190px;
    }

    .myaccount__block_spend_filter__shop {
        max-width: 270px;
    }

    .myaccount__block_spend_filter__block {
        width: 50%;
        padding: 0 20px;
    }

    .myaccount__block_spend_body_top {
        text-align: center;
        font-size: 26px;
    }

    .myaccount__exchange__title {
        font-size: 30px;
        margin-bottom: 14px;
    }

    .myaccount__exchange__text p {
        font-size: 17px;
        line-height: 1.5;
    }

    .btn_myaccount__exchange {
        width: 250px;
        font-size: 16px;
        padding: 11px 10px 9px;
    }
}


@media screen and (max-width:800px) {
    .field_item.field_item--submit button.btn_edit_user_info {
        max-width: calc(50% - 20px);
    }

    .field_row--3 .field_item {
        width: calc(100% / 2 - 20px);
    }

    .field_item.field_item--child.field_item--child--4 label.field_item_label {
        width: calc(100% / 2 - 20px);
    }

    .myaccount__edit_block {
        margin: 0 -20px;
        padding: 35px 20px;
    }

    .myaccount__exchange__text {
        flex-direction: column;
        display: flex;
    }

    .btn_myaccount__exchange--2 {
        margin-top: 10px;
        margin-left: 0;
    }

    .myaccount__block {
        padding: 25px 20px;
    }

    .home__earn_hug__item__icon {
        width: 58px;
    }

    .home_page__prize_item {
        padding: 0 13px;
        max-width: 230px;
    }

    img.home_page__prize_item__image {
        height: 105px;
        width: 200px;
    }

    .home_page__prize_items:before {
        top: 75px;
    }

    ul.slick-dots {
        margin-top: 30px;
    }

    ul.slick-dots button {
        width: 17px;
        height: 17px;
    }

    ul.slick-dots li {
        margin: 0 8px;
    }

    .home__earn_hug__list .home__earn_hug__item__image img {
        max-width: 205px;
    }

    .home__earn_hug__item__info {
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 8px;
    }

    .home__earn_hug__item__count {
        font-size: 22px;
    }

    .home__earn_hug__item__image {
        margin-bottom: 20px;
    }

    .home__earn_hug__item__wrap {
        padding: 0 13px;
    }

    .home__earn_hug__title {
        font-size: 30px;
    }

    .home__earn_hug__wrap {
        padding: 35px 25px 45px;
    }

    .home__earn_hug__list:before {
        top: 90px;
    }

    section.home_banner {
        background-size: 180% auto;
    }

    .home_page__registration__title {
        margin: 0 auto 25px;
        text-align: center;
        line-height: 1.3;
        font-size: 30px;
        max-width: 500px;
    }

    .home_page__registration__wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home_page__registration__form__title {
        text-align: center;
    }

    form.home_page__registration__form {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .home_page__registration__add_text {
        text-align: center;
        color: #3e3e3e;
        line-height: 1.5;
        margin: 30px auto 0;
        font-weight: bold;
        max-width: 450px;
    }

    section.home_page__registration {
        background-size: auto 50%;
        padding-bottom: 300px;
    }
}


@media screen and (max-width:700px) {
    .page__form_block {
        padding: 45px 20px 100px;
    }

    .field_item {
        margin-bottom: 22px;
    }

    .page__form_block__wrap {
        padding: 30px 20px;
    }

    .page__form_login {
        padding: 45px 20px 110px;
    }

    .login_page__form_wrap {
        width: 100%;
        order: 1;
    }

    .login_page__form__social {
        justify-content: center;
        width: 100%;
    }

    .login_page__form_wrap--social {
        order: 0;
        margin-bottom: 40px;
    }

    .social__login__title {
        display: none;
    }

    .social__login {
        font-size: 0;
        width: 50px;
        padding: 0;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 15px 0;
    }

    .login_page__form__social form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    .social__login img {
        margin: 0;
    }

    .page__form_block__row {
        margin-top: 40px;
    }

    .login_page__form_wrap__divide:after {
        display: none;
    }

    .login_page__form {
        width: 320px;
        margin: 0 auto;
    }

    .myaccount__block__progress__item:last-child:after {
        left: calc(100% - 40px);
        width: 30px;
        height: 30px;
        top: 30px;
    }

    .myaccount__block__progress__item {
        font-size: 11px;
    }

    .myaccount__block__progress__item_name {
        line-height: 1.1;
        margin-bottom: 12px;
    }

    img.myaccount__block__progress__item_star {
        width: 32px;
        margin-bottom: 12px;
    }

    .myaccount__block__progress__item:before {
        bottom: 29px;
    }

    .myaccount__block__progress__title {
        font-size: 22px;
    }

    .myaccount__block__progress__title_2 {
        font-size: 14px;
        max-width: 400px;
        margin: 0 auto;
    }

    .myaccount__block_row--2 .myaccount__block {
        padding: 30px 20px;
    }

    .myaccount__exchange__title {
        font-size: 24px;
    }

    .myaccount__exchange__text p {
        font-size: 14px;
    }

    img.myaccount__exchange__image {
        width: 100px;
    }

    .myaccount__exchange__info {
        width: calc(100% - 125px);
    }

    .myaccount__menu a {
        font-size: 16px;
        padding: 10px 18px 10px;
    }

    .myaccount__header__user__name {
        font-family: Rotondac;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 1px;
    }

    .myaccount__header__user__hug_count {
        font-size: 17px;
    }

    .myaccount__header__user__avatar {
        margin-right: 15px;
        width: 50px;
    }

    .myaccount__header__badges__item {
        width: 72px;
    }

    .account__header_user {
        width: calc(100% - 170px);
    }

    .faq_page__text_wrap {
        padding: 30px 30px 20px;
        margin: 0 -10px;
    }

    .home_trigger {
        width: 50%;
    }

    .home_trigger__info {
        font-size: 20px;
        line-height: 1.25;
    }
}




@media screen and (max-width: 650px) {
    .my_hugs__tr_info {
        width: 100%;
        padding-bottom: 18px;
        justify-content: space-between;
    }

    .my_hugs__count_spend_block {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid #E0E0E0;
        padding-top: 18px;
    }

    .my_hugs__count_spend_text {
        margin-bottom: 0;
        margin-right: 0px;
        font-size: 21px;
    }

    .my_hugs__tr,
    .my_hugs__tr.my_hugs__tr_all {
        max-width: 450px;
        padding: 30px 20px 20px;
        margin: 0 auto 30px;
    }

    .btn_spend_hug {
        width: 175px;
        padding: 10px 5px 8px;
        text-align: center;
        font-size: 11px;
    }

    .my_hugs__count_hugs {
        align-items: flex-end;
        text-align: center;
        line-height: 1.05;
        width: 70px;
    }

    .my_hugs__count_hugs_ {
        display: block;
        margin: 0;
    }

    .my_hugs {
        box-shadow: none;
    }

    .my_hugs__count_hugs_for_action_block {
        max-width: 450px;
        margin: 0 auto;
    }

    .my_hugs__count_hugs_for_action_block_wrap {
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .my_hugs__image .my_hugs__image_text {
        font-size: 30px;
        line-height: 1;
    }

    .myaccount__block_spend_filter__block {
        width: 100%;
        margin-top: 30px;
        padding-bottom: 15px;
    }

    .myaccount__block_spend_mobile {
        display: block;
        position: relative;
    }

    .product_item_wrap {
        width: calc(100% / 2);
        margin-bottom: 60px;
    }

    .myaccount__block_spend_filter {
        display: none;
    }

    .myaccount__block_spend_body_top {
        display: none;
    }

    .myaccount__block_spend_top {
        display: none;
    }

    .myaccount__block_spend_body {
        padding: 30px 10px 55px;
    }

    .field_item__row--2 .field_item {
        width: 100%;
        margin-bottom: 25px;
    }

    .field_item--file__feedback {
        margin: 0;
    }

    .callback_block_top {
        max-width: 475px;
        margin: 0 auto;
    }

    .callback_subtitle {
        margin-bottom: 25px;
    }

    .callback_title {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .callback_subtitle {
        font-size: 14px;
    }

    section.home__calendar:before {
        display: none;
    }

    ::after {
        display: none;
    }

    .home__calendar__title {
        font-size: 30px;
        line-height: 1.25;
        margin-bottom: 10px;
    }

    .home__calendar__text {
        font-weight: bold;
        font-family: Rotondac;
        font-size: 19px;
        max-width: 450px;
        margin: 0 auto;
    }

    section.home_page__prize {
        position: relative;
        z-index: 5;
    }

    section.home__calendar:after {
        display: none;
    }

    section.home__calendar {
        background: url(../images/index/calendar/mobile_calendar.png), url(../images/index/calendar/bg.jpg);
        background-position: 50% 18%, 0% 0%;
        background-repeat: no-repeat;
        background-size: 395px, cover;
        padding-top: 450px;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 55px;
    }

    section.home_page__registration {
        background-size: auto 35%;
    }

    .footer__info {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .footer__info_description {
        max-width: 350px;
    }

    .footer__social {
        margin-bottom: 25px;
    }

    .footer__top {
        width: 100%;
        margin-bottom: 25px;
        margin-right: 0;
    }

    a.footer__mail img {
        display: none;
    }

    .footer__mail span {
        margin-right: 0;
    }

    .footer__social__list {
        width: 205px;
    }

    .footer__logo {
        margin-bottom: 15px;
    }

    footer.main__footer {
        padding-bottom: 35px;
    }

}

@media screen and (max-width:600px) {
    a.edit__social_link {
        width: 100%;
        max-width: 260px;
        margin: 0 0 20px;
    }

    .edit__social_links {
        margin: 0;
    }

    a.edit__social_link:last-child {
        margin-bottom: 0;
    }

    a.edit__social_link img {
        width: 35px;
    }

    .edit__social_link__title {
        font-size: 15px;
        width: calc(100% - 89px);
    }

    .edit__social_link__btn {
        font-size: 16px;
    }

    .myaccount__edit_block__line {
        flex-direction: column;
        align-items: flex-start;
    }

    .myaccount__edit_block__line .myaccount__block__title.myaccount__block__title__2 {
        margin-bottom: 12px;
    }

    .myaccount__edit_block {
        padding: 25px 20px;
    }

    .btn_edit {
        padding: 12px 20px 9px;
        font-size: 14px;
    }

    .generate_password {
        margin: 20px auto 0;
        text-align: center;
        width: 100%;
        background: #949494;
        color: #fff;
        border: none;
        padding: 17px 10px 14px;
        border-radius: 23px;
    }

    .registration_col.registration_col__big .field_row--2 {
        margin: 0 auto;
    }

    .block__checkbox.block__checkbox__agree {
        font-size: 12px;
        line-height: 1.55;
    }

    .choose_gender_block {
        max-width: 370px;
        padding: 0;
    }

    .choose_gender__item.choose_gender__item__view_block {
        margin-top: 7px;
        padding: 0 10px;
    }

    .choose_gender__title {
        font-size: 18px;
        padding-top: 9px;
    }

    .choose_gender__item--woman .choose_gender__title {
        margin-left: 18px;
    }

    .choose_gender__item--man .choose_gender__title {
        margin-right: 18px;
    }

    .choose_gender__item img {
        width: 20px;
    }

    .choose_gender__item__view {
        width: 62px;
        height: 32px;
    }

    .choose_gender__item__view__dot {
        width: 22px;
        height: 22px;
    }

    .choose_gender__item__view.man .choose_gender__item__view__dot {
        left: calc(100% - 5px - 22px);
    }

    .field_row--2 .field_item {
        width: 100%;
        margin-bottom: 25px;
    }

    .field_row {
        margin-bottom: 0;
    }

    .registration_col.registration_col__big .field_row {
        max-width: 320px;
        margin: 0 auto 25px;
    }

    .modal__catalog_item_level--0 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .modal__catalog_item_level--0_info {
        text-align: center;
        width: 100%;
        max-width: 200px;
    }

    .modal__catalog_item_level--0__hugs {
        font-size: 15px;
    }

    .modal__catalog_item_level--0>img {
        width: 220px;
        margin-bottom: 20px;
    }

    .modal__catalog_item_level.modal__catalog_item_level_0 {
        padding-top: 30px;
        padding-bottom: 22px;
    }

    .modal__catalog_item_level__title {
        font-size: 16px;
    }

    .field_row--2 .field_item:last-child {
        margin-bottom: 0;
    }

    .registration_col.registration_col__big .field_row:last-child {
        margin-bottom: 0;
    }

    .product_title_modal {
        font-size: 12px;
    }

    .product_title_count {
        font-size: 14px;
        margin: 6px 0;
    }

    .catalog_list_modal ul.slick-dots {
        margin-top: 20px;
    }

    .modal__catalog_item_level {
        padding: 22px 0;
    }

    a.product_image_wrap_modal {
        max-width: 120px;
        margin-bottom: 12px;
    }

    .catalog_list_modal ul.slick-dots button {
        width: 8px;
        height: 8px;
    }

    .catalog_list_modal ul.slick-dots li {
        margin: 0 6px;
    }

    .modal__catalog_body {
        padding: 0 12px 40px;
    }

    .catalog_list_modal {
        padding: 0;
    }

    .notifications_block {
        top: 60px;
    }

    .notifications_block_list {
        height: calc(100vh - 160px);
    }

    .myaccount__block__title {
        font-size: 26px;
        margin-bottom: 15px;
        font-weight: 300;
    }

    .myaccount_exchange_fill_profile_text {
        font-size: 15px;
    }

    .block_myaccount_body_middle_title--left {
        margin-bottom: 12px;
    }



    .myaccount_share_status_text {
        font-size: 15px;
    }

    .invite_friend_text {
        font-size: 15px;
    }

    .myaccount__block__add_review_info {
        flex-direction: column;
        align-items: flex-start;
        font-size: 14px;
    }

    .myaccount__block__add_review_name {
        margin-right: 0;
    }

    .add_review__status--def {
        font-size: 14px;
    }

    .myaccount__block__add_review {
        padding: 16px 5px 10px 7px;
    }


    .myaccount_load_info_title {
        font-size: 18px;
    }

    ul.myaccount_load_info_text_list li {
        margin-bottom: 13px;
    }

    span.myaccount_load_info_text {
        font-size: 13px;
        padding-top: 5px;
    }

    span.myaccount_load_info_point {
        font-size: 13px;
        width: 24px;
        height: 24px;
        padding-left: 2px;
        margin-right: 8px;
    }

    span.myaccount_load_info_text img {
        width: 30px;
        margin-left: 13px;
        margin-top: -8px;
    }

    .myaccount_load_info_text {
        font-size: 13px;
        width: calc(100% - 35px);
    }

    .btn_load_check_send {
        display: none;
    }

    .myaccount_load_info {
        margin-bottom: 0px;
    }

    .myaccount__load_form_info_text {
        display: none;
    }

    .btn_load_check_mobile {
        background: #d92a1c;
        color: #fff;
        border: none;
        font-size: 14px;
    }

    .btn_load_check_mobile:hover {
        background: #a51e14;
        color: #fff;
    }

    ul.myaccount_load_info_text_list {
        margin-bottom: 20px;
    }

    label.myaccount__load_form_label {
        height: auto;
        background: transparent;
        border: none;
        display: block;
        max-width: 300px;
        margin: 0 auto;
    }

    .myaccount__block__first {
        margin-top: -50px;
    }

    .myaccount__menu a {
        font-size: 14px;
        padding: 10px 15px 10px;
    }

    .myaccount__menu li.active a {
        box-shadow: none;
    }

    .myaccount__menu_mobile__select.active:after {
        transform: rotate(-180deg);
    }

    .myaccount__menu_mobile__select_title {
        font-weight: bold;
        font-size: 15px;
    }

    .myaccount__menu {
        margin-bottom: 35px;
    }

    .myaccount__menu ul {
        display: none;
        position: absolute;
        background: #fff;
        left: 20px;
        right: 20px;
        z-index: 10;
        border-radius: 10px;
        margin-top: 10px;
        box-shadow: 0px 31px 65px rgba(0, 0, 0, 0.198);
    }

    .myaccount__menu_mobile__select:after {
        width: 30px;
        height: 30px;
        background: url(../images/icons/drop.svg);
        content: '';
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
        background-repeat: no-repeat;
        background-position: 50%;
        transition: 0.25s;
    }

    .myaccount__menu_mobile__select {
        display: flex;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 13px 20px;
        position: relative;
        box-shadow: 0 24px 15px -20px #efddae;
    }

    .account__header_user {
        width: 100%;
    }

    .myaccount__header__user__avatar {
        width: 43px;
    }

    .myaccount__header__user__name {
        font-size: 16px;
    }

    .myaccount__header__user__hug_count {
        font-size: 13px;
    }

    .myaccount__header__badges {
        display: none;
    }

    .myaccount__header {
        padding: 25px 0 22px;
    }

    img.header_user__label--notification_icon {
        width: 32px;
    }

    a.mobile_login_avatar img {
        width: 17px;
    }

    a.mobile_login_avatar {
        padding: 4px;
    }

    a.header_user__label.header_user__label--notification {
        margin-right: 15px;
    }

    span.header_user__label--notification_count {
        font-size: 9px;
        width: 16px;
        height: 16px;
        padding-top: 1px;
        top: -2px;
        right: -5px;
    }

    .btn_mobile_menu {
        margin-right: 32px;
    }

    .home_page__prize_title {
        font-size: 30px;
        max-width: 405px;
        margin: 0 auto;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    .home_page__prize_subtitle {
        max-width: 400px;
        margin: 0 auto 20px;
        line-height: 1.6;
    }

    .mobile_menu {
        top: 59px;
        height: calc(100% - 60px);
    }

    section.home_banner:before {
        background: linear-gradient(to bottom, #fef6ea 60%, #fefbeb00 100%);
        height: 170px;
        content: '';
        position: absolute;
        top: 0;
        z-index: 5;
        width: 100%;
    }

    .home_banner .container {
        position: relative;
        z-index: 6;
    }

    .home_banner__info {
        margin: 0 auto 40px;
    }

    section.home_banner {
        background-image: url(../images/bg/bg_home_banner--mobile.jpg);
        padding-top: 35px;
        background-size: contain;
        background-position: 50% 110px;
        background-repeat: no-repeat;
    }

    .home_banner__title {
        margin-bottom: 100%;
    }

    a.logo_header {
        width: 60px;
    }

    body {
        padding-top: 60px;
    }

    header.header_main>.container {
        padding: 0 10px;
    }
}

@media screen and (max-width:550px) {

    .hugs_history__col_1,
    .hugs_history__col_2 {
        width: 100%;
    }

    .field_item.field_item--submit button.btn_edit_user_info {
        max-width: 100%;
    }

    .field_row--3 .field_item {
        width: 100%;
        margin: 0 0 25px;
    }

    .field_row.field_row--3 {
        margin: 0;
    }

    .field_item.field_item--child.field_item--child--4 {
        margin: 0 0 22px;
    }

    .field_item.field_item--child.field_item--child--4 .btn_add_child {
        margin: 0;
    }

    .field_item.field_item--child.field_item--child--4 label.field_item_label {
        width: 100%;
        margin: 0 0 22px;
    }

    .faq_item_head {
        padding: 25px 0;
    }

    .faq_item_btn {
        margin-right: 25px;
    }

    .faq_item_btn_inner {
        line-height: 32px;
        width: 32px;
        height: 32px;
    }

    .faq_item_btn_inner:after,
    .faq_item_btn_inner:before {
        width: 15px;
    }

    .faq_item_question {
        font-size: 16px;
        max-width: 300px;
    }

    .faq_item_info {
        margin-left: -20px;
        margin-right: -20px;
        line-height: 1.4;
        padding: 25px 30px;
        font-size: 14px;
    }

    .faq_item.active .faq_item_info:before {
        width: 22px;
        height: 22px;
        top: -10px;
        left: 30px;
    }

    .faq_page__text_wrap {
        padding: 30px 20px 15px;
    }

    .faq_wrap_title {
        font-size: 30px;
    }

    .faq_title {
        font-size: 30px;
        line-height: 1.15;
        margin-bottom: 0;
    }

    .faq_top {
        padding: 40px 0;
    }

    .home_page__prize_top {
        padding: 0 20px;
    }

    .home_page__prize_title {
        font-size: 26px;
        line-height: 1.2;
    }

    .home_page__prize_subtitle {
        font-size: 18px;
        max-width: 300px;
    }

    .home_page__prize_subtitle span {
        font-size: 17px;
        padding: 7px 14px 6px;
        margin-top: 5px;
    }

    .home_trigger__info {
        font-size: 15px;
        line-height: 1.2;
    }

    img.home_trigger__image {
        width: 100px;
    }

    .home_triggers:before {
        background-position: 0 1%;
    }

    .home_trigger {
        margin-bottom: 55px;
    }


    .home_triggers {
        justify-content: space-between;
    }
}

@media screen and (max-width:500px) {
    .btn_show_history_hugs {
        margin-bottom: 10px;
    }

    .hugs_history {
        margin-top: 25px;
    }

    .modal__exchange_hugs__block__body {
        font-size: 13px;
    }

    input.modal__exchange_hugs__block__field {
        width: 45px;
        padding: 6px 5px 4px;
    }

    .modal__exchange_hugs__block__tr {
        padding: 3px 0;
    }

    .modal__exchange_hugs__block__bottom {
        font-size: 15px;
        padding-top: 13px;
        padding-right: 15px;
    }

    .modal__exchange_hugs__block {
        padding: 12px 12px 14px;
    }

    .modal__exchange_hugs__block__top {
        margin-bottom: 7px;
    }

    .modal__btn_wrap {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        align-items: center;
    }

    .modal__btn_wrap a {
        width: 100%;
        margin-bottom: 10px;
        max-width: 250px;
        padding: 11px 5px 10px;
    }

    .modal__title_action_extended {
        font-size: 20px;
        line-height: 1.2;
    }

    .modal__title_action_extended__info {
        padding: 5px 10px 25px;
    }

    .modal__text_action_extended {
        font-size: 14px;
        max-width: 290px;
        margin: 0 auto 17px;
    }

    .btn_modal_action_extended {
        padding: 11px 30px 10px;
        font-size: 14px;
    }

    .modal__default {
        max-width: 380px;
    }

    .modal__default__wrap {
        min-height: 0px;
        padding: 35px 25px;
    }

    .modal__title {
        font-size: 24px;
        font-weight: 300;
    }

    img.modal_accepted_check__image {
        width: 50px;
        margin-bottom: 15px;
    }

    .modal__text {
        font-size: 14px;
        line-height: 1.3;
        max-width: 300px;
        margin-bottom: 15px;
    }

    .modal_accepted_check__logo {
        width: 100%;
        height: 75px;
    }

    .modal_accepted_check__logo img {
        width: 110px;
    }

    .btn_modal_accepted_check {
        padding: 6px;
    }

    .myaccount__block_how_title {
        font-size: 20px;
        margin-bottom: 8px;
        line-height: 1.1;
    }

    .myaccount__block_how_text {
        font-size: 13px;
        max-width: 200px;
        margin: 0 auto 10px;
    }

    .myaccount__block__progress {
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 25px;
    }

    .myaccount__block__progress__item {
        font-size: 10px;
    }

    img.myaccount__block__progress__item_star {
        width: 24px;
        margin-bottom: 7px;
    }

    .myaccount__block__progress__item_period:before {
        width: 8px;
        height: 8px;
        margin-bottom: 4px;
    }

    .myaccount__block__progress__item:before {
        bottom: 21px;
        border-width: 1px;
    }

    .myaccount__block__progress__item:last-child:after {
        right: -10px;
        left: auto;
    }

    .myaccount__block__add_review>img {
        display: none;
    }

    .myaccount__block__add_review_info {
        font-size: 13px;
        width: calc(100% - 130px);
    }

    .myaccount__block__add_review__status {
        width: 120px;
        line-height: 1.2;
    }

    .add_review__status--btn {
        font-size: 11px;
        padding: 7px 5px;
    }

    .myaccount__block__add_review {
        padding: 12px 5px 10px;
    }

    img.myaccount__exchange__image {
        margin-right: 0;
    }

    .myaccount__exchange__wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .myaccount__exchange__info {
        text-align: center;
        width: 100%;
    }

    .myaccount__exchange__text {
        justify-content: center;
        align-items: center;
    }

    .home__earn_hug__list:before {
        top: 50px;
    }

    .home_page__prize_item {
        max-width: 180px;
        padding: 0 10px;
    }

    img.home_page__prize_item__image {
        height: 95px;
        width: 165px;
        margin-left: 0px;
    }

    .home_page__prize_items:before {
        top: 45px;
    }

    .home_page__prize_items {
        margin-top: 20px;
    }

    ul.slick-dots {
        margin-top: 25px;
    }

    ul.slick-dots button {
        width: 14px;
        height: 14px;
    }

    p.prize_block_text {
        margin-top: 25px;
        font-size: 13px;
    }

    .home__earn_hug__title {
        font-size: 24px;
        line-height: 1.25;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .home__earn_hug__list .home__earn_hug__item__image img {
        max-width: 160px;
    }

    .home__earn_hug__item__wrap {
        padding: 15px 10px 0;
    }

    .home__earn_hug__item__icon {
        width: 45px;
    }


    .home__earn_hug__item__count {
        font-size: 18px;
    }



    .home__earn_hug__item__info {
        font-size: 16px;
    }

    .callback_block_top {
        padding: 35px 20px;
    }

    .agree_callback {
        font-size: 13px;
    }

    .btn_callback_send {
        padding: 13px 20px 13px;
        font-size: 15px;
        max-width: 250px;
    }

    .field_item_label input[type='text'],
    .field_item_label input[type='tel'],
    .field_item_label textarea,
    .field_item_label input[type='email'],
    .field_item_label input[type='password'] {
        padding: 15px 20px 13px;
        font-size: 14px;
    }

    .field_item__title {
        margin-bottom: 4px;
        font-size: 14px;
    }

    .faq_page__text_wrap h3 {
        margin-top: 25px;
    }

    .faq_wrap_title {
        font-size: 20px;
    }

    img.home_banner__logo {
        max-width: 180px;
    }

    section.home_banner {
        background-position: 50% 90px;
    }

    .home_banner__title {
        margin-bottom: 70%;
        font-size: 26px;
        line-height: 1.2;
    }

    .home__calendar__text {
        font-size: 14px;
        max-width: 330px;
        line-height: 1.25;
    }

    .home__calendar__title {
        font-size: 23px;
    }

    section.home__calendar {
        background-size: 300px, cover;
        padding-top: 350px;
    }

    .home_page__registration__title {
        font-size: 24px;
        line-height: 1.4;
        margin-bottom: 25px;
        max-width: 370px;
        font-family: Rotondac;
        font-weight: bold;
        color: #e22319;
    }

    form.home_page__registration__form .home_page__registration__form__title {
        display: none;
    }

    form.home_page__registration__form {
        max-width: 355px;
        margin-bottom: 35px;
    }

    .home_page__registration__add_text {
        font-size: 15px;
        max-width: 350px;
        line-height: 1.35;
    }

    .home_trigger {
        width: 40%;
    }
}

@media screen and (max-width:450px) {
    .modal__catalog_categories a {
        padding: 3px 15px;
    }

    .modal__catalog_categories img {
        width: 50px;
        height: 27px;
    }

    .myaccount__block_fill_profile:before {
        background-position: 60% 100%;
    }

    .myaccount_exchange_fill_profile_text {
        font-size: 13px;
        line-height: 1.2;
    }

    .myaccount__block__title.block_myaccount_body_middle_title--left {
        font-size: 22px;
    }

    .btn_fill_profile {
        padding: 8px 10px 7px;
        width: 150px;
    }

    .myaccount_share_status_text {
        font-size: 12px;
    }

    .myaccount__block__title {
        font-size: 21px;
    }


    .myaccount_share_list a {
        margin: 0 5px;
    }

    .myaccount__block__invite__full {
        flex-direction: column;
        margin-bottom: -10px;
    }

    .invite_friend_promocode_text {
        margin-bottom: 5px;
        margin-right: 0;
        font-size: 14px;
    }

    .myaccount__block__invite {
        margin-left: -15px;
        margin-right: -15px;
    }

    .invite_friend_text {
        font-size: 12px;
    }

    .btn_send_code {
        width: 100%;
        max-width: 150px;
        font-size: 12px;
    }

    .callback_title {
        font-size: 34px;
        margin-bottom: 8px;
    }

    .page__form_block__row {
        margin-top: 25px;
    }

    .login_page__form_wrap--social {
        margin-bottom: 30px;
    }

    .callback_subtitle {
        font-size: 13px;
    }
}


@media screen and (max-width:430px) {

    .my_hugs__tr,
    .my_hugs__tr.my_hugs__tr_all {
        padding: 20px 15px 15px;
        margin-bottom: 20px;
    }

    .btn_spend_hug {
        font-size: 9px;
        width: 140px;
        padding: 9px 5px 7px;
    }

    .my_hugs__image img {
        max-width: 105px;
    }

    .my_hugs__image {
        width: auto;
    }

    .my_hugs__count_hugs_ {
        font-size: 16px;
    }

    .my_hugs__count_hugs {
        line-height: 1.1;
    }


    .my_hugs__tr_info {
        padding-bottom: 14px;
    }

    .my_hugs__count_spend_text {
        font-size: 16px;
    }

    .my_hugs__image .my_hugs__image_text {
        font-size: 22px;
        width: 100px;
        line-height: 0.5;
    }

    .my_hugs__count_spend_block {
        padding-top: 13px;
    }

    .my_hugs__tr.my_hugs__tr_all {
        margin-bottom: 0;
    }

    .my_hugs {
        margin-bottom: 25px;
    }

    .btn_show_history_hugs {
        font-size: 15px;
        font-weight: normal;
    }

    .btn_show_history_hugs:before {
        width: 9px;
        height: 9px;
        border-width: 2px;
        margin-right: 15px;
        margin-top: -8px;
    }

    .hugs_history__col_1,
    .hugs_history__col_2 {
        font-size: 13px;
    }

    .hugs_history__col_3 {
        font-size: 13px;
    }

    .myaccount__block_spend_mobile__body {
        padding: 25px 12px;
    }

    .spend_mobile__body_shop_list_view {
        padding: 12px 25px 12px 12px;
    }

    .spend_mobile__body_shop_list_view img {
        width: 67px;
        height: 34px;
    }

    span.spend_mobile__count {
        font-size: 21px;
    }

    .spend_mobile__count .spend_mobile__count_text {
        margin-top: -6px;
        font-size: 12px;
    }

    .spend_mobile__body_shop_list img {
        width: 67px;
        height: 34px;
    }

    .spend_mobile__body_shop_list a {
        padding: 12px 25px 12px 12px;
    }

    a.btn_spend_mobile__body_shop_list_drop {
        right: 5px;
    }

    a.btn_spend_mobile__body_shop_list_drop:after {
        width: 11px;
        height: 11px;
        top: -4px;
    }

    .spend_mobile__total_title {
        font-size: 19px;
    }

    .spend_mobile__total_row {
        padding: 12px 25px 12px 20px;
    }

    .notifications_block.hide {
        transform: translate(0, 100%);
    }

    .notifications_block {
        width: calc(100% - 20px);
        top: 140px;
        left: 10px;
        max-width: 100%;
        border-radius: 15px 15px 0 0;
    }

    .notifications_block_wrap {
        padding: 30px 12px 12px;
    }

    .notifications_block_top {
        text-align: center;
    }

    .notifications_block_title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    span.notifications_block_count {
        display: none;
    }

    .notifications_block_close {
        top: -25px;
    }

    .notifications_block_list {
        height: 217px;
    }
}

@media screen and (max-width:400px) {

    .hugs_history .myaccount__block__title.myaccount__block__title__2 {
        font-size: 20px;
    }

    .page__form_password .callback_title {
        line-height: 1.15;
        font-size: 24px;
    }

    .myaccount__spend_mobile_view_btn {
        width: 39px;
        height: 39px;
    }

    .myaccount__spend_mobile_view_value {
        width: calc(100% - 39px - 12px);
        padding: 2px 14px;
    }

    .myaccount__spend_mobile_view_value:after {
        right: 7px;
    }

    .myaccount__block__progress__item {
        font-size: 8px;
    }

    .myaccount__block__progress__item_name.myaccount__block__progress__item_name--active {
        line-height: 1.2;
        margin-bottom: 8px;
    }

    img.myaccount__block__progress__item_star {
        width: 21px;
    }

    .myaccount__block__progress {
        margin-left: -15px;
        margin-right: -15px;
    }

    .myaccount__block__progress__item:last-child:after {
        width: 22px;
        height: 22px;
        top: 27px;
    }

    .myaccount__block__progress__item_period:before {
        width: 7px;
        height: 7px;
    }

    .myaccount__block__progress__item:before {
        bottom: 18px;
    }

    .myaccount__block__progress__title {
        font-size: 18px;
        font-weight: 300;
    }

    .myaccount__block__progress__title_2 {
        font-size: 12px;
    }

    .myaccount__exchange__title {
        font-size: 22px;
        line-height: 1.2;
        max-width: 280px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .myaccount__exchange__text p {
        font-size: 13px;
    }

    img.myaccount__exchange__image {
        width: 85px;
    }

    .myaccount__menu_mobile__select_title {
        font-size: 14px;
    }

    .myaccount__menu_mobile__select {
        padding: 13px 15px;
    }





    .faq_item_btn.js_faq_btn {
        margin-right: 15px;
        padding: 2px;
    }

    .faq_item_btn_inner {
        width: 26px;
        height: 26px;
    }

    .faq_item_btn_inner:after,
    .faq_item_btn_inner:before {
        width: 12px;
        height: 2px;
    }

    .faq_item_info {
        margin-left: -17px;
        margin-right: -17px;
    }

    .faq_item.active .faq_item_info:before {
        left: 22px;
    }

    .faq_wrap_title {
        font-size: 18px;
        line-height: 1.4;
    }

    .faq_page__text_wrap h3 {
        margin-top: 22px;
        font-size: 17px;
        margin-bottom: 8px;
    }

    .faq_page__text_wrap {
        padding: 20px 17px 10px;
        line-height: 1.6;
        font-size: 15px;
    }

    .faq_title {
        font-size: 22px;
    }

    .faq_top {
        padding: 30px 0;
    }

    .home_page__prize_title {
        font-size: 23px;
        max-width: 310px;
        margin-bottom: 15px;
    }

    .home_page__prize_subtitle {
        font-weight: bold;
        font-family: Rotondac;
        font-size: 16px;
    }

    .home_page__prize_subtitle span {
        margin-top: -2px;
        padding: 5px 8px;
        font-size: 14px;
    }

    section.home_banner {
        background-position: 50% 70px;
        padding-top: 25px;
    }


    section.home_banner:before {
        height: 100px;
    }

    img.home_banner__logo {
        margin-bottom: 17px;
    }

    .home_banner__partners_title {
        font-size: 18px;
    }

    .home_banner__partners_list img {
        width: 35%;
    }

    .home_banner__title {
        font-size: 24px;
    }

    .home_page__registration__title {
        font-size: 20px;
    }

    .btn_show_history_hugs {
        font-size: 16px;
    }
    .my_hugs__count_hugs_for_action_block_val {
        font-size: 22px;
    }
}

@media screen and (max-width:374px) {
    .modal__catalog_item_level--0>img {
        width: 182px;
        margin-bottom: 15px;
    }

    a.product_image_wrap_modal {
        max-width: 105px;
    }

    .btn_exchange {
        padding: 6px 15px 4px;
        font-size: 13px;
    }

    .btn_default {
        font-size: 14px;
    }

    .home_banner__title {
        font-size: 22px;
    }

    section.home__calendar {
        background-size: 240px, cover;
        padding-top: 290px;
    }

    .home__calendar__title {
        font-size: 19px;
    }

    .home__calendar__text {
        line-height: 1.3;
    }

    .home_page__registration__title {
        font-size: 18px;
    }

    .home_page__registration__add_text {
        font-size: 14px;
    }

    .home_trigger__info {
        font-size: 13px;
    }

    .page__form_block__row {
        margin-top: 25px;
    }

    .login_page__form_wrap--social {
        margin-bottom: 30px;
    }

    .social__login,
    .registration_wrap__social .social__login {
        width: 44px;
        margin: 0 10px 0;
        height: 44px;
    }

    .social__login img,
    .registration_wrap__social .social__login img {
        width: 24px;
        height: 22px;
    }

    .generate_password {
        font-size: 12px;
    }

    .password_required li {
        margin-bottom: 2px;
    }

    .password_required {
        font-size: 11px;
    }

    .page__form_block {
        padding: 35px 15px 100px;
    }

    .choose_gender__item--man .choose_gender__title {
        margin-right: 12px;
    }

    .choose_gender__item--woman .choose_gender__title {
        margin-left: 12px;
    }

    .choose_gender__item img {
        width: 14px;
    }

    .choose_gender__title {
        font-size: 15px;
    }

    .choose_gender__item__view {
        width: 52px;
        height: 28px;
    }

    .choose_gender__item__view__dot {
        width: 18px;
        height: 18px;
    }

    .choose_gender__item__view.man .choose_gender__item__view__dot {
        left: calc(100% - 5px - 18px);
    }

    .choose_gender_block {
        margin-bottom: 25px;
    }

    .btn_show_history_hugs {
        font-size: 14px;
    }

    .btn_show_history_hugs:before {
        width: 12px;
        height: 12px;
        margin-right: 13px;
    }

    .btn_spend_hug {
        font-size: 8px;
        width: 120px;
        line-height: 1.25;
        padding: 9px 7px 7px;
    }

    .my_hugs__count_spend_text {
        font-size: 14px;
    }

    .my_hugs__tr,
    .my_hugs__tr.my_hugs__tr_all {
        padding: 20px 10px 15px;
    }
}